<a href="https://colab.research.google.com/github/Lorenzo1208/Brief_fao/blob/main/FAO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [497]:
import pandas as pd
import numpy as np
#importations des différents csv dans des dataframes
animals_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_animal.csv')
#nommage des colonnes pour que ce soit homogène dans tous les df pour pouvoir les concatener
animals_df.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Valeur': 'quantité',  'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
animals_df

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBS,Bilans Alimentaires,351,Chine,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,A,"Agrégat, peut inclure des données officielles,..."
37162,FBS,Bilans Alimentaires,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.24,Fc,Donnée calculée
37163,FBS,Bilans Alimentaires,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
37164,FBS,Bilans Alimentaires,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.69,Fc,Donnée calculée
37165,FBS,Bilans Alimentaires,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée

In [498]:
#on fait la même chose avec tous les csv
cereals_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_cereal.csv')
cereals_df.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
cereals_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,Valeur,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [499]:
population_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_population.csv')
population_df.rename(columns={'Domain Code':'Code_Domaine','Domain':'Domaine', 'Country Code': 'Code_Pays','Element Code':'Code_Élément', 'Element':'Élément','Item Code': 'Code_Produit', 'Item':'Produit', 'Year Code':'Code_Année','Year': 'Année' , 'Country': 'Pays', 'Unit': 'Unité', 'Value': 'population','Flag':'Symbole', 'Flag Description': 'Description_du_Symbole'}, inplace=True)
population_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code_Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,population,Symbole,Description_du_Symbole
0,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,30552,NaN,Official data
1,FBS,Food Balance Sheets,3,Albania,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,3173,NaN,Official data
2,FBS,Food Balance Sheets,4,Algeria,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,39208,NaN,Official data
3,FBS,Food Balance Sheets,7,Angola,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,21472,NaN,Official data
4,FBS,Food Balance Sheets,8,Antigua and Barbuda,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,90,NaN,Official data

In [500]:
sous_alimentation_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_sous_alimentation.csv')
sous_alimentation_df.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
sous_alimentation_df.head()

,Code_Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code_Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description_du_Symbole
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.1,F,Estimation FAO
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO
2,FS,Données de la sécurité alimentaire,3,Albanie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.2,F,Estimation FAO
3,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.8,F,Estimation FAO
4,FS,Données de la sécurité alimentaire,79,Allemagne,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,<2,Moins de 2 millions de personnes sont sous-ali...

In [501]:
#on compare les tailles des différents dataframes
print(animals_df.shape)
print(cereals_df.shape)
print(population_df.shape)
print(sous_alimentation_df.shape)

(37166, 14)
(16057, 14)
(175, 14)
(204, 14)

# Question 1 : Nombre d'humains sur la planète

In [502]:
#on regarde les statistiques de la colonne "population", notamment pour obtenir la valeur max
population_df.population.describe()

count    1.750000e+02
mean     4.807996e+04
std      1.786327e+05
min      5.400000e+01
25%      2.543500e+03
50%      9.413000e+03
75%      2.888150e+04
max      1.416667e+06
Name: population, dtype: float64

In [503]:
#on récupére le total de la population mondiale
sum_of_column = population_df['population'].sum()
print(sum_of_column*1000)
# l'unité est en millier de personnes donc on multiplie par 1000

8413993000

# Selon wikipedia en 2013 nous étions 7,17 Milliards d'habitants et la Chine comptait 1,3 Mds d'habitants. Comment expliquer les 8 413 993 000 ?

In [504]:
population_df['population'].duplicated().value_counts()
#pas de duplicata
#175 pays dans le csv

False    175
Name: population, dtype: int64

In [505]:
#on cherche à connaître les pays avec la plus grande population
population_df.sort_values(by='population', ascending=False).head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code_Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,population,Symbole,Description_du_Symbole
174,FBS,Food Balance Sheets,351,China,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1416667,A,"Aggregate, may include official, semi-official..."
34,FBS,Food Balance Sheets,41,"China, mainland",511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1385567,NaN,Official data
73,FBS,Food Balance Sheets,100,India,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1252140,NaN,Official data
165,FBS,Food Balance Sheets,231,United States of America,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,320051,NaN,Official data
74,FBS,Food Balance Sheets,101,Indonesia,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,249866,NaN,Official data

# La Chine était comptée 2 fois, en effet il y avait la Chine et ses territoires semi-indépendants (Hong kong, Macao, Taïwan).On va donc supprimer la valeur totale et laisser les territoires semi-indépendants.

In [506]:
#suppression de la ligne "Chine"
population_df.drop(population_df[population_df['Pays'] == 'Chine'].index, inplace=True)
sum_of_column = population_df['population'].sum()
print(sum_of_column*1000)

8413993000

# Il manque encore environ 100 millions d'habitants mais ici il n'y a que 174 pays alors que l'ONU en reconnaît officiellement 194. Il manque donc peut-être certains pays, comme le Vatican, Andorre, à moins qu'il n'aient été comptés respectivement dans la population de l'Italie et de la France, mais nous manquons de données pour en être sûrs. Nous allons donc partir du principe qu'il y avait 6 997 326 000 habitants.

# Question 2 : Redondances

In [507]:
#on extrait les données concernant le blé en France et on affiche les 11 éléments qui nous intéressent
cereal_blé_df = cereals_df[(cereals_df.Pays == 'France') & (cereals_df.Produit == 'Blé')]
cereal_blé_df.head(11)

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,Valeur,Symbole,Description_du_Symbole
5415,FBS,Bilans Alimentaires,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.0,S,Données standardisées
5416,FBS,Bilans Alimentaires,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.0,S,Données standardisées
5417,FBS,Bilans Alimentaires,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.0,S,Données standardisées
5418,FBS,Bilans Alimentaires,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.0,S,Données standardisées
5419,FBS,Bilans Alimentaires,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.0,S,Données standardisées
5420,FBS,Bilans Alimentaires,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.0,S,Données standardisées
5421,FBS,Bilans Alimentaires,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.0,S,Données standardisées
5422,FBS,Bilans Alimentaires,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.0,S,Données standardisées
5423,FBS,Bilans Alimentaires,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.0,S,Données standardisées
5424,FBS,Bilans Alimentaires,68,France,5154,Autres Utilisations,2511,Blé,2013,2013,Milliers de tonnes,2824.0,S,Données standardisées
5425,FBS,Bilans Alimentaires,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.0,S,Données standardisées

# disponibilitéIntérieure = (Nourriture+NourritureAnimaux+Semences+Pertes+Traitements+AutresUtilisations)=(Production+Importation+VariationDeStock)−Exportation

In [508]:
#on assigne à chaque élément sa valeur
cereal_blé_élément = cereal_blé_df['Élément']
disponibilité_interieur = cereal_blé_df[cereal_blé_élément == 'Disponibilité intérieure']['Valeur'].sum()
production = cereal_blé_df[cereal_blé_élément == 'Production']['Valeur'].sum()
imports = cereal_blé_df[cereal_blé_élément == 'Importations - Quantité']['Valeur'].sum()
exports = cereal_blé_df[cereal_blé_élément == 'Exportations - Quantité']['Valeur'].sum()
stock_variation = cereal_blé_df[cereal_blé_élément == 'Variation de stock']['Valeur'].sum()
semences = cereal_blé_df[cereal_blé_élément == 'Semences']['Valeur'].sum()
nourriture_animaux = cereal_blé_df[cereal_blé_élément == 'Aliments pour animaux']['Valeur'].sum()
nourriture = cereal_blé_df[cereal_blé_élément == 'Nourriture']['Valeur'].sum()
pertes = cereal_blé_df[cereal_blé_élément == 'Pertes']['Valeur'].sum()
traitement = cereal_blé_df[cereal_blé_élément == 'Traitement']['Valeur'].sum()
autres = cereal_blé_df[cereal_blé_élément == 'Autres Utilisations']['Valeur'].sum()
#on vérifie que la formule trouvée fonctionne dans le cas du blé en France
print('La disponibilité intérieure vaut : {}'.format(disponibilité_interieur))
print('Production + Imports + Variation - Exports : {}'.format((production + imports + stock_variation) - exports))
print('semences + nourriture_animaux + nourriture + pertes + traitement + autres : {}'.format(semences + nourriture_animaux + nourriture + pertes + traitement + autres))

La disponibilité intérieure vaut : 20298.0
Production + Imports + Variation - Exports : 20298.0
semences + nourriture_animaux + nourriture + pertes + traitement + autres : 20298.0

# Question 3 : Disponibilité alimentaire (calories, protéines)

Définition : La disponibilité alimentaire c'est la disponibilité d'aliments en quantité suffisante et d'une qualité appropriée, dont l'approvisionnement est assurée par la production nationale ou les importations.

Calculons cette valeur par Pays et par Produit: en kcal/personne/jour et en kg de protéines/personne/jour.

On possède pour certains produits avec des unités en g/personne/jour on va pouvoir les convertir en kg/personne/jour

Disponibilité de protéines en quantité (g/personne/jour) => Disponibilité de protéines en quantité (kg/personne/jour)

In [509]:
#on importe le fichier csv dans un dataframe
vegetal_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_vegetal.csv')
#on renomme les colonnes comme les df précédents
vegetal_df.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année','Valeur':'quantité', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
# Ajout d'une colonne 'Origine' dans animaux et vegetaux
animals_df['Origine'] = 'Animale'
vegetal_df['Origine'] = 'Végétale'
vegetal_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole,Origine
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées,Végétale
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées,Végétale
2,FBS,Bilans Alimentaires,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées,Végétale
3,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,Végétale
4,FBS,Bilans Alimentaires,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées,Végétale

In [510]:
#on concatène les deux dataframes animals et vegetal
aliments_df = pd.concat([animals_df,vegetal_df])
aliments_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole,Origine
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées,Animale
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées,Animale
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,Animale
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,Animale
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée,Animale

In [511]:
#on pivote les données dans le dataframe avec en index les pays et code pays, les produits et code produits ainsi que l'origine
aliments_df =  aliments_df.pivot_table(
    index=["Code_Pays","Pays","Code_Produit","Produit", "Origine"],
    columns = ["Élément"], values=["quantité"], aggfunc=sum)
aliments_df

                                                                              quantité  \
Élément                                                          Aliments pour animaux
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                  93.0
                  2513         Orge                     Végétale                 137.0
                  2514         Maïs                     Végétale                  96.0
                  2515         Seigle                   Végétale                   1.0
                  2516         Avoine                   Végétale                   4.0
...                                                                                ...
351       Chine   2781         Huiles de Poissons       Animale                   47.0
                  2782         Huiles de Foie de Poisso Animale                    0.0
                  2805         Riz (Eq Blanchi)         Végétale               12117.0
                  2848         Lait - Excl Beurre       Animale                 1632.0
                  2899         Miscellanees             Végétale                   NaN

                                                                                      \
Élément                                                          Autres Utilisations
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                 0.0
                  2513         Orge                     Végétale                26.0
                  2514         Maïs                     Végétale                 NaN
                  2515         Seigle                   Végétale                 NaN
                  2516         Avoine                   Végétale                 NaN
...                                                                              ...
351       Chine   2781         Huiles de Poissons       Animale                 80.0
                  2782         Huiles de Foie de Poisso Animale                  0.0
                  2805         Riz (Eq Blanchi)         Végétale              2085.0
                  2848         Lait - Excl Beurre       Animale                 42.0
                  2899         Miscellanees             Végétale                 NaN

                                                                                                                 \
Élément                                                          Disponibilité alimentaire (Kcal/personne/jour)
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                                         1024.0
                  2513         Orge                     Végétale                                            0.0
                  2514         Maïs                     Végétale                                            0.0
                  2515         Seigle                   Végétale                                            1.0
                  2516         Avoine                   Végétale                                            2.0
...                                                                                                         ...
351       Chine   2781         Huiles de Poissons       Animale                                             0.0
                  2782         Huiles de Foie de Poisso Animale                                             0.0
                  2805         Riz (Eq Blanchi)         Végétale                                          797.0
                  2848         Lait - Excl Beurre       Animale                                            59.0
                  2899         Miscellanees             Végétale                                            0.0

                                                                                                                         \
Élément                                                          Disponibilité alimentaire en quantité (kg/personne/an)
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                                             130.60
                  2513         Orge                     Végétale                                               0.00
                  2514         Maïs                     Végétale                                               0.03
                  2515         Seigle                   Végétale                                               0.12
                  2516         Avoine                   Végétale                                               0.37
...                                                                                                             ...
351       Chine   2781         Huiles de Poissons       Animale                                                0.00
                  2782         Huiles de Foie de Poisso Animale                                                0.00
                  2805         Riz (Eq Blanchi)         Végétale                                              77.45
                  2848         Lait - Excl Beurre       Animale                                               33.18
                  2899         Miscellanees             Végétale                                                NaN

                                                                                                                                \
Élément                                                          Disponibilité de matière grasse en quantité (g/personne/jour)
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                                               3.60
                  2513         Orge                     Végétale                                               0.00
                  2514         Maïs                     Végétale                                                NaN
                  2515         Seigle                   Végétale                                               0.00
                  2516         Avoine                   Végétale                                               0.03
...                                                                                                             ...
351       Chine   2781         Huiles de Poissons       Animale                                                0.00
                  2782         Huiles de Foie de Poisso Animale                                                0.00
                  2805         Riz (Eq Blanchi)         Végétale                                               2.68
                  2848         Lait - Excl Beurre       Animale                                                3.25
                  2899         Miscellanees             Végétale                                               0.00

                                                                                                                           \
Élément                                                          Disponibilité de protéines en quantité (g/personne/jour)
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                                              30.52
                  2513         Orge                     Végétale                                               0.00
                  2514         Maïs                     Végétale                                               0.01
                  2515         Seigle                   Végétale                                               0.02
                  2516         Avoine                   Végétale                                               0.09
...                                                                                                             ...
351       Chine   2781         Huiles de Poissons       Animale                                                0.00
                  2782         Huiles de Foie de Poisso Animale                                                0.00
                  2805         Riz (Eq Blanchi)         Végétale                                              14.47
                  2848         Lait - Excl Beurre       Animale                                                3.12
                  2899         Miscellanees             Végétale                                               0.01

                                                                                           \
Élément                                                          Disponibilité intérieure
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                    554.0
                  2513         Orge                     Végétale                    198.0
                  2514         Maïs                     Végétale                    102.0
                  2515         Seigle                   Végétale                      1.0
                  2516         Avoine                   Végétale                      6.0
...                                                                                   ...
351       Chine   2781         Huiles de Poissons       Animale                     127.0
                  2782         Huiles de Foie de Poisso Animale                       0.0
                  2805         Riz (Eq Blanchi)         Végétale                 135024.0
                  2848         Lait - Excl Beurre       Animale                   50117.0
                  2899         Miscellanees             Végétale                      NaN

                                                                                          \
Élément                                                          Exportations - Quantité
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                     1.0
                  2513         Orge                     Végétale                     0.0
                  2514         Maïs                     Végétale                     NaN
                  2515         Seigle                   Végétale                     NaN
                  2516         Avoine                   Végétale                     NaN
...                                                                                  ...
351       Chine   2781         Huiles de Poissons       Animale                     13.0
                  2782         Huiles de Foie de Poisso Animale                      1.0
                  2805         Riz (Eq Blanchi)         Végétale                   565.0
                  2848         Lait - Excl Beurre       Animale                    233.0
                  2899         Miscellanees             Végétale                     NaN

                                                                                          \
Élément                                                          Importations - Quantité
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                   361.0
                  2513         Orge                     Végétale                     9.0
                  2514         Maïs                     Végétale                    82.0
                  2515         Seigle                   Végétale                     0.0
                  2516         Avoine                   Végétale                     1.0
...                                                                                  ...
351       Chine   2781         Huiles de Poissons       Animale                     91.0
                  2782         Huiles de Foie de Poisso Animale                      1.0
                  2805         Riz (Eq Blanchi)         Végétale                  2714.0
                  2848         Lait - Excl Beurre       Animale                   9780.0
                  2899         Miscellanees             Végétale                     NaN

                                                                             \
Élément                                                          Nourriture
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale      389.0
                  2513         Orge                     Végétale        0.0
                  2514         Maïs                     Végétale        0.0
                  2515         Seigle                   Végétale        0.0
                  2516         Avoine                   Végétale        1.0
...                                                                     ...
351       Chine   2781         Huiles de Poissons       Animale         0.0
                  2782         Huiles de Foie de Poisso Animale         0.0
                  2805         Riz (Eq Blanchi)         Végétale   109725.0
                  2848         Lait - Excl Beurre       Animale     47009.0
                  2899         Miscellanees             Végétale        NaN

                                                                          \
Élément                                                           Pertes
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale    32.0
                  2513         Orge                     Végétale    15.0
                  2514         Maïs                     Végétale     7.0
                  2515         Seigle                   Végétale     0.0
                  2516         Avoine                   Végétale     0.0
...                                                                  ...
351       Chine   2781         Huiles de Poissons       Animale      NaN
                  2782         Huiles de Foie de Poisso Animale      NaN
                  2805         Riz (Eq Blanchi)         Végétale  6406.0
                  2848         Lait - Excl Beurre       Animale   1433.0
                  2899         Miscellanees             Végétale     NaN

                                                                             \
Élément                                                          Production
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale      312.0
                  2513         Orge                     Végétale      189.0
                  2514         Maïs                     Végétale       21.0
                  2515         Seigle                   Végétale        1.0
                  2516         Avoine                   Végétale        5.0
...                                                                     ...
351       Chine   2781         Huiles de Poissons       Animale        50.0
                  2782         Huiles de Foie de Poisso Animale         0.0
                  2805         Riz (Eq Blanchi)         Végétale   136873.0
                  2848         Lait - Excl Beurre       Animale     40570.0
                  2899         Miscellanees             Végétale        NaN

                                                                           \
Élément                                                          Semences
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale     30.0
                  2513         Orge                     Végétale     14.0
                  2514         Maïs                     Végétale      0.0
                  2515         Seigle                   Végétale      0.0
                  2516         Avoine                   Végétale      0.0
...                                                                   ...
351       Chine   2781         Huiles de Poissons       Animale       NaN
                  2782         Huiles de Foie de Poisso Animale       NaN
                  2805         Riz (Eq Blanchi)         Végétale   4679.0
                  2848         Lait - Excl Beurre       Animale       NaN
                  2899         Miscellanees             Végétale      NaN

                                                                             \
Élément                                                          Traitement
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale       10.0
                  2513         Orge                     Végétale        7.0
                  2514         Maïs                     Végétale        NaN
                  2515         Seigle                   Végétale        NaN
                  2516         Avoine                   Végétale        NaN
...                                                                     ...
351       Chine   2781         Huiles de Poissons       Animale         NaN
                  2782         Huiles de Foie de Poisso Animale         NaN
                  2805         Riz (Eq Blanchi)         Végétale       12.0
                  2848         Lait - Excl Beurre       Animale         0.0
                  2899         Miscellanees             Végétale        NaN


Élément                                                          Variation de stock
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale             -118.0
                  2513         Orge                     Végétale                0.0
                  2514         Maïs                     Végétale                NaN
                  2515         Seigle                   Végétale                0.0
                  2516         Avoine                   Végétale                NaN
...                                                                             ...
351       Chine   2781         Huiles de Poissons       Animale                 0.0
                  2782         Huiles de Foie de Poisso Animale                 0.0
                  2805         Riz (Eq Blanchi)         Végétale            -3998.0
                  2848         Lait - Excl Beurre       Animale                 0.0
                  2899         Miscellanees             Végétale                NaN

[15702 rows x 15 columns]

In [512]:
#on renomme les colonnes du dataframe
aliments_df.columns = ['Aliments pour animaux', 'Autres utilisations', 'Disponibilité alimentaire (Kcal/personne/jour)',
    'Disponibilité alimentaire en quantité (kg/personne/an)', 'Disponibilité de matière grasse en quantité (g/personne/jour)', 
    'Disponibilité de protéines en quantité (g/personne/jour)', 'Disponibilité intérieure', 'Exportations - Quantité',
    'Importations - Quantité', 'Nourriture', 'Pertes',
    'Production', 'Semences', 'Traitement','Variation de stock']

In [513]:
#on réattribue un index pour chaque ligne
aliments_df = aliments_df.reset_index()
aliments_df

,Code_Pays,Pays,Code_Produit,Produit,Origine,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,Végétale,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,Végétale,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,Végétale,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,Végétale,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,Végétale,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,351,Chine,2781,Huiles de Poissons,Animale,47.0,80.0,0.0,0.00,0.00,0.00,127.0,13.0,91.0,0.0,NaN,50.0,NaN,NaN,0.0
15698,351,Chine,2782,Huiles de Foie de Poisso,Animale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,1.0,1.0,0.0,NaN,0.0,NaN,NaN,0.0
15699,351,Chine,2805,Riz (Eq Blanchi),Végétale,12117.0,2085.0,797.0,77.45,2.68,14.47,135024.0,565.0,2714.0,109725.0,6406.0,136873.0,4679.0,12.0,-3998.0
15700,351,Chine,2848,Lait - Excl Beurre,Animale,1632.0,42.0,59.0,33.18,3.25,3.12,50117.0,233.0,9780.0,47009.0,1433.0,40570.0,NaN,0.0,0.0
15701,351,Chine,2899,Miscellanees,Végétale,NaN,NaN,0.0,NaN,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [514]:
# Ajout de la population à data via une jointure
aliments_df = pd.merge(aliments_df, population_df[['Code_Pays','population']], on=["Code_Pays"])
aliments_df["population"] = aliments_df["population"] * 1000
aliments_df.head()

,Code_Pays,Pays,Code_Produit,Produit,Origine,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,population
0,1,Arménie,2511,Blé,Végétale,93.0,0.0,1024.0,130.60,3.60,...,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977000
1,1,Arménie,2513,Orge,Végétale,137.0,26.0,0.0,0.00,0.00,...,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,2977000
2,1,Arménie,2514,Maïs,Végétale,96.0,NaN,0.0,0.03,NaN,...,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,2977000
3,1,Arménie,2515,Seigle,Végétale,1.0,NaN,1.0,0.12,0.00,...,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,2977000
4,1,Arménie,2516,Avoine,Végétale,4.0,NaN,2.0,0.37,0.03,...,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,2977000

In [515]:
#on convertit les colonnes dispo alimentaire en kcal/personne/jour en dispo alimentaire pour tout le pays sur un an
#on multiplie par le nombre de jours dans une année
aliments_df["dispo_alimentaire_kcal"] = aliments_df["Disponibilité alimentaire (Kcal/personne/jour)"] * aliments_df["population"] * 365
#on multiplie par la population du pays
aliments_df["dispo_alimentaire_kgprotein"] = aliments_df["Disponibilité de protéines en quantité (g/personne/jour)"] * 0.001 * aliments_df["population"] * 365

In [516]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

#on crée une liste des pays uniques dans le df aliments par ordre alphabétique
countries = sorted(list(aliments_df['Pays'].unique()))
#on fait la même chose avec les produits
products = sorted(list(aliments_df['Produit'].unique()))
#on sélectionne les colonnes qui nous intéressent et on crée un nouveau dataframe
aliments_df2 = aliments_df[["Code_Pays", "Pays", "Code_Produit", "Produit","population", "dispo_alimentaire_kcal", "dispo_alimentaire_kgprotein"]]

#on crée une fonction qui permet de sélectionner le pays et le produit que l'on veut observer
@interact
def show_per_country(country=countries, product=products):
    return aliments_df2.loc[(aliments_df2['Pays'] == country) & (aliments_df2['Produit'] == product)]

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Afrique du Sud', 'Albanie', 'Al…

# Question 4 : Ratios énergétiques

établir un ratio "énergie/poids" (en kcal/kg) pour chaque produit par pays
établir un ratio "poids de protéine / poids total" pour chaque produit par pays

Pour le ratio "poids des protéines / poids total"

In [517]:
#on convertit les valeurs de la colonne nourriture en kg
aliments_df["dispo_alimentaire_kg"] = aliments_df["Nourriture"] * 1000000
#on supprime les valeurs égales à 0 
mask = aliments_df["dispo_alimentaire_kg"] != 0
aliments_df.loc[mask, 'ratio_kcal/kg'] = aliments_df.loc[mask, "dispo_alimentaire_kcal"] / aliments_df.loc[mask, "dispo_alimentaire_kg"]
aliments_df

,Code_Pays,Pays,Code_Produit,Produit,Origine,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,population,dispo_alimentaire_kcal,dispo_alimentaire_kgprotein,dispo_alimentaire_kg,ratio_kcal/kg
0,1,Arménie,2511,Blé,Végétale,93.0,0.0,1024.0,130.60,3.60,...,32.0,312.0,30.0,10.0,-118.0,2977000,1.112684e+12,3.316318e+07,3.890000e+08,2860.368946
1,1,Arménie,2513,Orge,Végétale,137.0,26.0,0.0,0.00,0.00,...,15.0,189.0,14.0,7.0,0.0,2977000,0.000000e+00,0.000000e+00,0.000000e+00,NaN
2,1,Arménie,2514,Maïs,Végétale,96.0,NaN,0.0,0.03,NaN,...,7.0,21.0,0.0,NaN,NaN,2977000,0.000000e+00,1.086605e+04,0.000000e+00,NaN
3,1,Arménie,2515,Seigle,Végétale,1.0,NaN,1.0,0.12,0.00,...,0.0,1.0,0.0,NaN,0.0,2977000,1.086605e+09,2.173210e+04,0.000000e+00,NaN
4,1,Arménie,2516,Avoine,Végétale,4.0,NaN,2.0,0.37,0.03,...,0.0,5.0,0.0,NaN,NaN,2977000,2.173210e+09,9.779445e+04,1.000000e+06,2173.210000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,351,Chine,2781,Huiles de Poissons,Animale,47.0,80.0,0.0,0.00,0.00,...,NaN,50.0,NaN,NaN,0.0,1416667000,0.000000e+00,0.000000e+00,0.000000e+00,NaN
15698,351,Chine,2782,Huiles de Foie de Poisso,Animale,0.0,0.0,0.0,0.00,0.00,...,NaN,0.0,NaN,NaN,0.0,1416667000,0.000000e+00,0.000000e+00,0.000000e+00,NaN
15699,351,Chine,2805,Riz (Eq Blanchi),Végétale,12117.0,2085.0,797.0,77.45,2.68,...,6406.0,136873.0,4679.0,12.0,-3998.0,1416667000,4.121155e+14,7.482198e+09,1.097250e+11,3755.894405
15700,351,Chine,2848,Lait - Excl Beurre,Animale,1632.0,42.0,59.0,33.18,3.25,...,1433.0,40570.0,NaN,0.0,0.0,1416667000,3.050792e+13,1.613300e+09,4.700900e+10,648.980490
15701,351,Chine,2899,Miscellanees,Végétale,NaN,NaN,0.0,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,1416667000,0.000000e+00,5.170835e+06,NaN,NaN

In [518]:
#on regroupe les données par produit en appliquant la moyenne
stat_par_pays_df = aliments_df.groupby("Produit").mean()
stat_par_pays_df

,Code_Pays,Code_Produit,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,...,Pertes,Production,Semences,Traitement,Variation de stock,population,dispo_alimentaire_kcal,dispo_alimentaire_kgprotein,dispo_alimentaire_kg,ratio_kcal/kg
Produit,,,,,,,,,,,,,,,,,,,,,
Abats Comestible,126.720000,2736.0,44.125000,17.679245,8.520000,2.735086,0.255202,1.330971,130.097143,39.455882,...,3.476190,130.293103,NaN,NaN,0.481481,4.807996e+07,1.310145e+11,2.114056e+07,1.183486e+08,1129.251060
"Agrumes, Autres",127.124224,2614.0,NaN,3.125000,0.838710,1.360769,0.008333,0.018739,103.900621,6.161765,...,14.535714,250.707692,NaN,5.692308,0.836364,5.120878e+07,2.263185e+10,6.112745e+05,1.019615e+08,91.647942
"Alcool, non Comestible",127.093168,2659.0,NaN,138.415094,NaN,NaN,NaN,NaN,136.521739,78.936508,...,NaN,322.507692,NaN,NaN,20.652174,5.066730e+07,NaN,NaN,NaN,NaN
Aliments pour enfants,126.337209,2680.0,NaN,0.000000,4.030864,0.402654,0.031688,0.167901,1.261628,7.567164,...,0.333333,NaN,NaN,NaN,0.190476,4.871405e+07,2.044505e+10,8.569582e+05,5.512346e+06,3231.837322
Ananas,127.035503,2618.0,NaN,0.500000,3.905325,3.874734,0.015159,0.031400,148.680473,55.625899,...,31.406593,329.746835,NaN,1.454545,5.057971,4.896924e+07,4.493811e+10,4.004979e+05,1.330178e+08,366.227055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viande de Suides,127.491329,2733.0,NaN,7.575000,92.258824,14.804176,8.263529,4.130888,966.919075,107.452703,...,15.277778,1029.790123,NaN,1.628571,0.518987,4.843972e+07,2.988614e+12,1.057375e+08,9.811118e+08,2471.740975
Viande de Volailles,126.720000,2734.0,0.000000,32.000000,74.822857,20.522286,4.922057,7.128000,722.737143,122.087838,...,38.500000,736.763006,NaN,12.526316,1.362069,4.807996e+07,1.048868e+12,8.842343e+07,7.104000e+08,1303.749307
"Viande, Autre",126.720000,2735.0,5.272727,1.000000,6.131429,1.797371,0.270925,0.864457,48.400000,5.517483,...,2.600000,58.547445,NaN,0.809524,0.037975,4.807996e+07,5.767080e+10,8.625305e+06,4.846857e+07,1117.228592
Vin,126.832370,2655.0,NaN,54.793103,11.917647,6.242647,NaN,0.000204,170.208092,70.906040,...,21.846154,455.250000,NaN,117.333333,-20.112500,4.847242e+07,1.025567e+11,3.947959e+01,1.477294e+08,617.126238
"Épices, Autres",126.283237,2645.0,NaN,11.562500,5.872832,0.619884,0.219186,0.183392,32.306358,13.068750,...,7.750000,65.031915,NaN,NaN,-0.103774,4.846161e+07,1.005148e+11,3.345206e+06,3.082659e+07,3252.159384

# D'après Wikipedia, la valeur énergétique d'un oeuf est de 1470 kcal/kg.

In [519]:
#on va chercher la valeur calorique d'un oeuf en extrayant la valeur correspond à oeuf dans la colonne ratio_kcal/kg
stat_par_pays_df = stat_par_pays_df.reset_index()

#stat_par_pays_df[(stat_par_pays_df['Produit'] == 'Oeufs')]['ratio_kcal/kg'].mean()
#on constate que cette valeur est légèrement différente de celle trouvée

In [520]:
#on cherche à comprendre pourquoi la moyenne trouvée est plus basse que celle sur internet
valeur_oeuf_df = aliments_df[['Produit', 'ratio_kcal/kg', 'Pays']]
valeur_oeuf_df = valeur_oeuf_df[valeur_oeuf_df['Produit'] == 'Oeufs']
valeur_oeuf_df = valeur_oeuf_df[valeur_oeuf_df['ratio_kcal/kg'] < 1000]
valeur_oeuf_df
#on constate que la valeur est très basse dans certains pays, ce qui fait baisser la moyenne

      Produit  ratio_kcal/kg                             Pays
1947    Oeufs     902.523333                         Cameroun
4393    Oeufs     955.935000                         Djibouti
5466    Oeufs     876.000000                           Guyana
11838   Oeufs     730.730000                     Sainte-Lucie
11923   Oeufs     795.700000  Saint-Vincent-et-les Grenadines
11998   Oeufs     704.450000             Sao Tomé-et-Principe

# Question 5 : Aliments les plus caloriques et protéiques

In [521]:
#on supprime les valeurs égales à 0 pour éviter une division par 0
mask = aliments_df["dispo_alimentaire_kg"] != 0
# on calcule le ratio de protéines/kg
aliments_df.loc[mask, 'protein_%'] = 100 * aliments_df.loc[mask, "dispo_alimentaire_kgprotein"] / aliments_df.loc[mask, "dispo_alimentaire_kg"]

In [522]:
#on regroupe les données par produit et pour chacun, on prend la moyenne du ratio de kcal/kg
question5_ratio_kcal_kg = aliments_df.groupby("Produit")["ratio_kcal/kg"].mean()
#on fait la même chose pour le % de protéines
question5_ratio_proteins_per_kg = aliments_df.groupby("Produit")["protein_%"].mean()
question5_ratios_kcal = pd.DataFrame({"ratio_kcal/kg": question5_ratio_kcal_kg})
#on affiche les 20 valeurs les plus élevées
question5_ratios_kcal.sort_values("ratio_kcal/kg", ascending=False)[:20]

                          ratio_kcal/kg
Produit
Huiles de Poissons          9003.715504
Huile de Palmistes          8826.979763
Huile de Son de Riz         8727.700518
Huile de Palme              8721.172690
Huile de Germe de Maïs      8662.278512
Huil Plantes Oleif Autr     8630.601679
Huile Graines de Coton      8612.988561
Huile de Soja               8573.634352
Huile de Colza&Moutarde     8503.550297
Huile d'Olive               8465.878436
Huile de Tournesol          8432.286866
Huile d'Arachide            8389.050961
Huile de Coco               8326.942490
Huile de Sésame             7887.763285
Graisses Animales Crue      7578.965784
Beurre, Ghee                7343.215549
Arachides Decortiquees      5617.029957
Sésame                      5476.527916
Huiles de Foie de Poisso    4991.466250
Palmistes                   4331.090000

In [523]:
question5_ratios_prot = pd.DataFrame({"protein_%": question5_ratio_proteins_per_kg})
#on affiche les 5 valeurs les plus élevées
question5_ratios_prot.sort_values("protein_%", ascending=False)[:5]

                        protein_%
Produit
Soja                    28.575796
Arachides Decortiquees  25.125585
Pois                    22.308001
Légumineuses Autres     21.820033
Haricots                21.554109