<a href="https://colab.research.google.com/github/Lorenzo1208/Brief_fao/blob/main/FAO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Analyses descriptives des données
.describe()
.info()
graphique bar et ou pareto
# Gestion projet :
trello

In [1016]:
import pandas as pd
import numpy as np
import re
#importations des différents csv dans des dataframes
animals_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_animal.csv')
#nommage des colonnes pour que ce soit homogène dans tous les df pour pouvoir les concatener
animals_df.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Valeur': 'quantité',  'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
animals_df

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBS,Bilans Alimentaires,351,Chine,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,A,"Agrégat, peut inclure des données officielles,..."
37162,FBS,Bilans Alimentaires,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.24,Fc,Donnée calculée
37163,FBS,Bilans Alimentaires,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
37164,FBS,Bilans Alimentaires,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.69,Fc,Donnée calculée
37165,FBS,Bilans Alimentaires,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée

In [1017]:
#on fait la même chose avec tous les csv
cereals_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_cereal.csv')
cereals_df.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
cereals_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,Valeur,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [1018]:
population_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_population.csv')
population_df.rename(columns={'Domain Code':'Code_Domaine','Domain':'Domaine', 'Country Code': 'Code_Pays','Element Code':'Code_Élément', 'Element':'Élément','Item Code': 'Code_Produit', 'Item':'Produit', 'Year Code':'Code_Année','Year': 'Année' , 'Country': 'Pays', 'Unit': 'Unité', 'Value': 'population','Flag':'Symbole', 'Flag Description': 'Description_du_Symbole'}, inplace=True)
population_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code_Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,population,Symbole,Description_du_Symbole
0,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,30552,NaN,Official data
1,FBS,Food Balance Sheets,3,Albania,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,3173,NaN,Official data
2,FBS,Food Balance Sheets,4,Algeria,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,39208,NaN,Official data
3,FBS,Food Balance Sheets,7,Angola,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,21472,NaN,Official data
4,FBS,Food Balance Sheets,8,Antigua and Barbuda,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,90,NaN,Official data

In [1019]:
sous_alimentation_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_sous_alimentation.csv')
sous_alimentation_df.rename(columns={'Code Domaine':'Code_Domaine','Zone':'Pays', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
sous_alimentation_df.head()

,Code_Domaine,Domaine,Code zone,Pays,Code Élément,Élément,Code_Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description_du_Symbole
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.1,F,Estimation FAO
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO
2,FS,Données de la sécurité alimentaire,3,Albanie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.2,F,Estimation FAO
3,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.8,F,Estimation FAO
4,FS,Données de la sécurité alimentaire,79,Allemagne,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,<2,Moins de 2 millions de personnes sont sous-ali...

In [1020]:
#on compare les tailles des différents dataframes
print(animals_df.shape)
print(cereals_df.shape)
print(population_df.shape)
print(sous_alimentation_df.shape)

(37166, 14)
(16057, 14)
(175, 14)
(204, 14)

# ✅ Question 1 : Nombre d'humains sur la planète

In [1021]:
#on regarde les statistiques de la colonne "population", notamment pour obtenir la valeur max
population_df.population.describe()

count    1.750000e+02
mean     4.807996e+04
std      1.786327e+05
min      5.400000e+01
25%      2.543500e+03
50%      9.413000e+03
75%      2.888150e+04
max      1.416667e+06
Name: population, dtype: float64

In [1022]:
#on récupére le total de la population mondiale
sum_of_column = population_df['population'].sum()
print(sum_of_column*1000)
# l'unité est en millier de personnes donc on multiplie par 1000

8413993000

# Selon wikipedia en 2013 nous étions 7,17 Milliards d'habitants et la Chine comptait 1,3 Mds d'habitants. Comment expliquer les 8 413 993 000 ?

In [1023]:
population_df['population'].duplicated().value_counts()
#pas de duplicata
#175 pays dans le csv

False    175
Name: population, dtype: int64

In [1024]:
#on cherche à connaître les pays avec la plus grande population
population_df.sort_values(by='population', ascending=False).head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code_Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,population,Symbole,Description_du_Symbole
174,FBS,Food Balance Sheets,351,China,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1416667,A,"Aggregate, may include official, semi-official..."
34,FBS,Food Balance Sheets,41,"China, mainland",511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1385567,NaN,Official data
73,FBS,Food Balance Sheets,100,India,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1252140,NaN,Official data
165,FBS,Food Balance Sheets,231,United States of America,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,320051,NaN,Official data
74,FBS,Food Balance Sheets,101,Indonesia,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,249866,NaN,Official data

# La Chine était comptée 2 fois, en effet il y avait la Chine et ses territoires semi-indépendants (Hong kong, Macao, Taïwan).On va donc supprimer la valeur totale et laisser les territoires semi-indépendants.

In [1025]:
#suppression de la ligne "Chine"
population_df.drop(population_df[population_df['Pays'] == 'China'].index, inplace=True)
sum_of_column = population_df['population'].sum()
population_mondiale = sum_of_column*1000
population_mondiale

6997326000

In [1026]:
#suppression de la ligne "Chine" pour les autres dataframes
# cereals_df.drop(cereals_df[cereals_df['Pays'] == 'Chine'].index, inplace=True)
# animals_df.drop(animals_df[animals_df['Pays'] == 'Chine'].index, inplace=True)
# vegetal_df.drop(vegetal_df[vegetal_df['Pays'] == 'Chine'].index, inplace=True)

# Il manque encore environ 100 millions d'habitants mais ici il n'y a que 174 pays alors que l'ONU en reconnaît officiellement 194. Il manque donc peut-être certains pays, comme le Vatican, Andorre, à moins qu'il n'aient été comptés respectivement dans la population de l'Italie et de la France, mais nous manquons de données pour en être sûrs. Nous allons donc partir du principe qu'il y avait 6 997 326 000 habitants.

# ✅ Question 2 : Redondances

In [1027]:
#on extrait les données concernant le blé en France et on affiche les 11 éléments qui nous intéressent
cereal_blé_df = cereals_df[(cereals_df.Pays == 'France') & (cereals_df.Produit == 'Blé')]
cereal_blé_df.head(11)

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,Valeur,Symbole,Description_du_Symbole
5415,FBS,Bilans Alimentaires,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.0,S,Données standardisées
5416,FBS,Bilans Alimentaires,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.0,S,Données standardisées
5417,FBS,Bilans Alimentaires,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.0,S,Données standardisées
5418,FBS,Bilans Alimentaires,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.0,S,Données standardisées
5419,FBS,Bilans Alimentaires,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.0,S,Données standardisées
5420,FBS,Bilans Alimentaires,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.0,S,Données standardisées
5421,FBS,Bilans Alimentaires,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.0,S,Données standardisées
5422,FBS,Bilans Alimentaires,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.0,S,Données standardisées
5423,FBS,Bilans Alimentaires,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.0,S,Données standardisées
5424,FBS,Bilans Alimentaires,68,France,5154,Autres Utilisations,2511,Blé,2013,2013,Milliers de tonnes,2824.0,S,Données standardisées
5425,FBS,Bilans Alimentaires,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.0,S,Données standardisées

# disponibilitéIntérieure = (Nourriture+NourritureAnimaux+Semences+Pertes+Traitements+AutresUtilisations)=(Production+Importation+VariationDeStock)−Exportation

In [1028]:
#on assigne à chaque élément sa valeur
cereal_blé_élément = cereal_blé_df['Élément']
disponibilité_interieur = cereal_blé_df[cereal_blé_élément == 'Disponibilité intérieure']['Valeur'].sum()
production = cereal_blé_df[cereal_blé_élément == 'Production']['Valeur'].sum()
imports = cereal_blé_df[cereal_blé_élément == 'Importations - Quantité']['Valeur'].sum()
exports = cereal_blé_df[cereal_blé_élément == 'Exportations - Quantité']['Valeur'].sum()
stock_variation = cereal_blé_df[cereal_blé_élément == 'Variation de stock']['Valeur'].sum()
semences = cereal_blé_df[cereal_blé_élément == 'Semences']['Valeur'].sum()
nourriture_animaux = cereal_blé_df[cereal_blé_élément == 'Aliments pour animaux']['Valeur'].sum()
nourriture = cereal_blé_df[cereal_blé_élément == 'Nourriture']['Valeur'].sum()
pertes = cereal_blé_df[cereal_blé_élément == 'Pertes']['Valeur'].sum()
traitement = cereal_blé_df[cereal_blé_élément == 'Traitement']['Valeur'].sum()
autres = cereal_blé_df[cereal_blé_élément == 'Autres Utilisations']['Valeur'].sum()
#on vérifie que la formule trouvée fonctionne dans le cas du blé en France
print('La disponibilité intérieure vaut : {}'.format(disponibilité_interieur))
print('Production + Imports + Variation - Exports : {}'.format((production + imports + stock_variation) - exports))
print('semences + nourriture_animaux + nourriture + pertes + traitement + autres : {}'.format(semences + nourriture_animaux + nourriture + pertes + traitement + autres))

La disponibilité intérieure vaut : 20298.0
Production + Imports + Variation - Exports : 20298.0
semences + nourriture_animaux + nourriture + pertes + traitement + autres : 20298.0

# ✅ Question 3 : Disponibilité alimentaire (calories, protéines)

Définition : La disponibilité alimentaire c'est la disponibilité d'aliments en quantité suffisante et d'une qualité appropriée, dont l'approvisionnement est assurée par la production nationale ou les importations.

Calculons cette valeur par Pays et par Produit: en kcal/personne/jour et en kg de protéines/personne/jour.

On possède pour certains produits avec des unités en g/personne/jour on va pouvoir les convertir en kg/personne/jour

Disponibilité de protéines en quantité (g/personne/jour) => Disponibilité de protéines en quantité (kg/personne/jour)

In [1029]:
#on importe le fichier csv dans un dataframe
vegetal_df = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_vegetal.csv')
#on renomme les colonnes comme les df précédents
vegetal_df.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année','Valeur':'quantité', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
# Ajout d'une colonne 'Origine' dans animaux et vegetaux
animals_df['Origine'] = 'Animale'
vegetal_df['Origine'] = 'Végétale'
vegetal_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code_Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole,Origine
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées,Végétale
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées,Végétale
2,FBS,Bilans Alimentaires,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées,Végétale
3,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,Végétale
4,FBS,Bilans Alimentaires,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées,Végétale

In [1030]:
#on concatène les deux dataframes animals et vegetal
aliments_df = pd.concat([animals_df,vegetal_df])
aliments_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole,Origine,Code_Élément
0,FBS,Bilans Alimentaires,2,Afghanistan,5511.0,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées,Animale,NaN
1,FBS,Bilans Alimentaires,2,Afghanistan,5611.0,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées,Animale,NaN
2,FBS,Bilans Alimentaires,2,Afghanistan,5301.0,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,Animale,NaN
3,FBS,Bilans Alimentaires,2,Afghanistan,5142.0,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées,Animale,NaN
4,FBS,Bilans Alimentaires,2,Afghanistan,645.0,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée,Animale,NaN

In [1031]:
#on pivote les données dans le dataframe avec en index les pays et code pays, les produits et code produits ainsi que l'origine
aliments_df =  aliments_df.pivot_table(
    index=["Code_Pays","Pays","Code_Produit","Produit", "Origine"],
    columns = ["Élément"], values=["quantité"], aggfunc=sum)
aliments_df

                                                                              quantité  \
Élément                                                          Aliments pour animaux
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                  93.0
                  2513         Orge                     Végétale                 137.0
                  2514         Maïs                     Végétale                  96.0
                  2515         Seigle                   Végétale                   1.0
                  2516         Avoine                   Végétale                   4.0
...                                                                                ...
351       Chine   2781         Huiles de Poissons       Animale                   47.0
                  2782         Huiles de Foie de Poisso Animale                    0.0
                  2805         Riz (Eq Blanchi)         Végétale               12117.0
                  2848         Lait - Excl Beurre       Animale                 1632.0
                  2899         Miscellanees             Végétale                   NaN

                                                                                      \
Élément                                                          Autres Utilisations
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                 0.0
                  2513         Orge                     Végétale                26.0
                  2514         Maïs                     Végétale                 NaN
                  2515         Seigle                   Végétale                 NaN
                  2516         Avoine                   Végétale                 NaN
...                                                                              ...
351       Chine   2781         Huiles de Poissons       Animale                 80.0
                  2782         Huiles de Foie de Poisso Animale                  0.0
                  2805         Riz (Eq Blanchi)         Végétale              2085.0
                  2848         Lait - Excl Beurre       Animale                 42.0
                  2899         Miscellanees             Végétale                 NaN

                                                                                                                 \
Élément                                                          Disponibilité alimentaire (Kcal/personne/jour)
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                                         1024.0
                  2513         Orge                     Végétale                                            0.0
                  2514         Maïs                     Végétale                                            0.0
                  2515         Seigle                   Végétale                                            1.0
                  2516         Avoine                   Végétale                                            2.0
...                                                                                                         ...
351       Chine   2781         Huiles de Poissons       Animale                                             0.0
                  2782         Huiles de Foie de Poisso Animale                                             0.0
                  2805         Riz (Eq Blanchi)         Végétale                                          797.0
                  2848         Lait - Excl Beurre       Animale                                            59.0
                  2899         Miscellanees             Végétale                                            0.0

                                                                                                                         \
Élément                                                          Disponibilité alimentaire en quantité (kg/personne/an)
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                                             130.60
                  2513         Orge                     Végétale                                               0.00
                  2514         Maïs                     Végétale                                               0.03
                  2515         Seigle                   Végétale                                               0.12
                  2516         Avoine                   Végétale                                               0.37
...                                                                                                             ...
351       Chine   2781         Huiles de Poissons       Animale                                                0.00
                  2782         Huiles de Foie de Poisso Animale                                                0.00
                  2805         Riz (Eq Blanchi)         Végétale                                              77.45
                  2848         Lait - Excl Beurre       Animale                                               33.18
                  2899         Miscellanees             Végétale                                                NaN

                                                                                                                                \
Élément                                                          Disponibilité de matière grasse en quantité (g/personne/jour)
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                                               3.60
                  2513         Orge                     Végétale                                               0.00
                  2514         Maïs                     Végétale                                                NaN
                  2515         Seigle                   Végétale                                               0.00
                  2516         Avoine                   Végétale                                               0.03
...                                                                                                             ...
351       Chine   2781         Huiles de Poissons       Animale                                                0.00
                  2782         Huiles de Foie de Poisso Animale                                                0.00
                  2805         Riz (Eq Blanchi)         Végétale                                               2.68
                  2848         Lait - Excl Beurre       Animale                                                3.25
                  2899         Miscellanees             Végétale                                               0.00

                                                                                                                           \
Élément                                                          Disponibilité de protéines en quantité (g/personne/jour)
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                                              30.52
                  2513         Orge                     Végétale                                               0.00
                  2514         Maïs                     Végétale                                               0.01
                  2515         Seigle                   Végétale                                               0.02
                  2516         Avoine                   Végétale                                               0.09
...                                                                                                             ...
351       Chine   2781         Huiles de Poissons       Animale                                                0.00
                  2782         Huiles de Foie de Poisso Animale                                                0.00
                  2805         Riz (Eq Blanchi)         Végétale                                              14.47
                  2848         Lait - Excl Beurre       Animale                                                3.12
                  2899         Miscellanees             Végétale                                               0.01

                                                                                           \
Élément                                                          Disponibilité intérieure
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                    554.0
                  2513         Orge                     Végétale                    198.0
                  2514         Maïs                     Végétale                    102.0
                  2515         Seigle                   Végétale                      1.0
                  2516         Avoine                   Végétale                      6.0
...                                                                                   ...
351       Chine   2781         Huiles de Poissons       Animale                     127.0
                  2782         Huiles de Foie de Poisso Animale                       0.0
                  2805         Riz (Eq Blanchi)         Végétale                 135024.0
                  2848         Lait - Excl Beurre       Animale                   50117.0
                  2899         Miscellanees             Végétale                      NaN

                                                                                          \
Élément                                                          Exportations - Quantité
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                     1.0
                  2513         Orge                     Végétale                     0.0
                  2514         Maïs                     Végétale                     NaN
                  2515         Seigle                   Végétale                     NaN
                  2516         Avoine                   Végétale                     NaN
...                                                                                  ...
351       Chine   2781         Huiles de Poissons       Animale                     13.0
                  2782         Huiles de Foie de Poisso Animale                      1.0
                  2805         Riz (Eq Blanchi)         Végétale                   565.0
                  2848         Lait - Excl Beurre       Animale                    233.0
                  2899         Miscellanees             Végétale                     NaN

                                                                                          \
Élément                                                          Importations - Quantité
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale                   361.0
                  2513         Orge                     Végétale                     9.0
                  2514         Maïs                     Végétale                    82.0
                  2515         Seigle                   Végétale                     0.0
                  2516         Avoine                   Végétale                     1.0
...                                                                                  ...
351       Chine   2781         Huiles de Poissons       Animale                     91.0
                  2782         Huiles de Foie de Poisso Animale                      1.0
                  2805         Riz (Eq Blanchi)         Végétale                  2714.0
                  2848         Lait - Excl Beurre       Animale                   9780.0
                  2899         Miscellanees             Végétale                     NaN

                                                                             \
Élément                                                          Nourriture
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale      389.0
                  2513         Orge                     Végétale        0.0
                  2514         Maïs                     Végétale        0.0
                  2515         Seigle                   Végétale        0.0
                  2516         Avoine                   Végétale        1.0
...                                                                     ...
351       Chine   2781         Huiles de Poissons       Animale         0.0
                  2782         Huiles de Foie de Poisso Animale         0.0
                  2805         Riz (Eq Blanchi)         Végétale   109725.0
                  2848         Lait - Excl Beurre       Animale     47009.0
                  2899         Miscellanees             Végétale        NaN

                                                                          \
Élément                                                           Pertes
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale    32.0
                  2513         Orge                     Végétale    15.0
                  2514         Maïs                     Végétale     7.0
                  2515         Seigle                   Végétale     0.0
                  2516         Avoine                   Végétale     0.0
...                                                                  ...
351       Chine   2781         Huiles de Poissons       Animale      NaN
                  2782         Huiles de Foie de Poisso Animale      NaN
                  2805         Riz (Eq Blanchi)         Végétale  6406.0
                  2848         Lait - Excl Beurre       Animale   1433.0
                  2899         Miscellanees             Végétale     NaN

                                                                             \
Élément                                                          Production
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale      312.0
                  2513         Orge                     Végétale      189.0
                  2514         Maïs                     Végétale       21.0
                  2515         Seigle                   Végétale        1.0
                  2516         Avoine                   Végétale        5.0
...                                                                     ...
351       Chine   2781         Huiles de Poissons       Animale        50.0
                  2782         Huiles de Foie de Poisso Animale         0.0
                  2805         Riz (Eq Blanchi)         Végétale   136873.0
                  2848         Lait - Excl Beurre       Animale     40570.0
                  2899         Miscellanees             Végétale        NaN

                                                                           \
Élément                                                          Semences
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale     30.0
                  2513         Orge                     Végétale     14.0
                  2514         Maïs                     Végétale      0.0
                  2515         Seigle                   Végétale      0.0
                  2516         Avoine                   Végétale      0.0
...                                                                   ...
351       Chine   2781         Huiles de Poissons       Animale       NaN
                  2782         Huiles de Foie de Poisso Animale       NaN
                  2805         Riz (Eq Blanchi)         Végétale   4679.0
                  2848         Lait - Excl Beurre       Animale       NaN
                  2899         Miscellanees             Végétale      NaN

                                                                             \
Élément                                                          Traitement
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale       10.0
                  2513         Orge                     Végétale        7.0
                  2514         Maïs                     Végétale        NaN
                  2515         Seigle                   Végétale        NaN
                  2516         Avoine                   Végétale        NaN
...                                                                     ...
351       Chine   2781         Huiles de Poissons       Animale         NaN
                  2782         Huiles de Foie de Poisso Animale         NaN
                  2805         Riz (Eq Blanchi)         Végétale       12.0
                  2848         Lait - Excl Beurre       Animale         0.0
                  2899         Miscellanees             Végétale        NaN


Élément                                                          Variation de stock
Code_Pays Pays    Code_Produit Produit                  Origine
1         Arménie 2511         Blé                      Végétale             -118.0
                  2513         Orge                     Végétale                0.0
                  2514         Maïs                     Végétale                NaN
                  2515         Seigle                   Végétale                0.0
                  2516         Avoine                   Végétale                NaN
...                                                                             ...
351       Chine   2781         Huiles de Poissons       Animale                 0.0
                  2782         Huiles de Foie de Poisso Animale                 0.0
                  2805         Riz (Eq Blanchi)         Végétale            -3998.0
                  2848         Lait - Excl Beurre       Animale                 0.0
                  2899         Miscellanees             Végétale                NaN

[15702 rows x 15 columns]

In [1032]:
#on renomme les colonnes du dataframe
aliments_df.columns = ['Aliments pour animaux', 'Autres utilisations', 'Disponibilité alimentaire (Kcal/personne/jour)',
    'Disponibilité alimentaire en quantité (kg/personne/an)', 'Disponibilité de matière grasse en quantité (g/personne/jour)', 
    'Disponibilité de protéines en quantité (g/personne/jour)', 'Disponibilité intérieure', 'Exportations - Quantité',
    'Importations - Quantité', 'Nourriture', 'Pertes',
    'Production', 'Semences', 'Traitement','Variation de stock']

In [1033]:
#on réattribue un index pour chaque ligne
aliments_df = aliments_df.reset_index()
aliments_df

,Code_Pays,Pays,Code_Produit,Produit,Origine,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,Végétale,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,Végétale,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,Végétale,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,Végétale,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,Végétale,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,351,Chine,2781,Huiles de Poissons,Animale,47.0,80.0,0.0,0.00,0.00,0.00,127.0,13.0,91.0,0.0,NaN,50.0,NaN,NaN,0.0
15698,351,Chine,2782,Huiles de Foie de Poisso,Animale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,1.0,1.0,0.0,NaN,0.0,NaN,NaN,0.0
15699,351,Chine,2805,Riz (Eq Blanchi),Végétale,12117.0,2085.0,797.0,77.45,2.68,14.47,135024.0,565.0,2714.0,109725.0,6406.0,136873.0,4679.0,12.0,-3998.0
15700,351,Chine,2848,Lait - Excl Beurre,Animale,1632.0,42.0,59.0,33.18,3.25,3.12,50117.0,233.0,9780.0,47009.0,1433.0,40570.0,NaN,0.0,0.0
15701,351,Chine,2899,Miscellanees,Végétale,NaN,NaN,0.0,NaN,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1034]:
# Ajout de la population à data via une jointure
aliments_df = pd.merge(aliments_df, population_df[['Code_Pays','population']], on=["Code_Pays"])
aliments_df["population"] = aliments_df["population"] * 1000
aliments_df.head()

,Code_Pays,Pays,Code_Produit,Produit,Origine,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,population
0,1,Arménie,2511,Blé,Végétale,93.0,0.0,1024.0,130.60,3.60,...,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977000
1,1,Arménie,2513,Orge,Végétale,137.0,26.0,0.0,0.00,0.00,...,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,2977000
2,1,Arménie,2514,Maïs,Végétale,96.0,NaN,0.0,0.03,NaN,...,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,2977000
3,1,Arménie,2515,Seigle,Végétale,1.0,NaN,1.0,0.12,0.00,...,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,2977000
4,1,Arménie,2516,Avoine,Végétale,4.0,NaN,2.0,0.37,0.03,...,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,2977000

In [1035]:
#on convertit les colonnes dispo alimentaire en kcal/personne/jour en dispo alimentaire pour tout le pays sur un an
#on multiplie par le nombre de jours dans une année
# Disponibilité intérieure
aliments_df["dispo_alimentaire_kcal"] = aliments_df["Disponibilité alimentaire (Kcal/personne/jour)"] * aliments_df["population"] * 365
#on multiplie par la population du pays
aliments_df["dispo_alimentaire_kgprotein"] = aliments_df["Disponibilité de protéines en quantité (g/personne/jour)"] * 0.001 * aliments_df["population"] * 365

In [1036]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

#on crée une liste des pays uniques dans le df aliments par ordre alphabétique
countries = sorted(list(aliments_df['Pays'].unique()))
#on fait la même chose avec les produits
products = sorted(list(aliments_df['Produit'].unique()))
#on sélectionne les colonnes qui nous intéressent et on crée un nouveau dataframe
aliments_df2 = aliments_df[["Code_Pays", "Pays", "Code_Produit", "Produit","population", "dispo_alimentaire_kcal", "dispo_alimentaire_kgprotein"]]

#on crée une fonction qui permet de sélectionner le pays et le produit que l'on veut observer
@interact
def show_per_country(country=countries, product=products):
    return aliments_df2.loc[(aliments_df2['Pays'] == country) & (aliments_df2['Produit'] == product)]

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Afrique du Sud', 'Albanie', 'Al…

# ✅ Question 4 : Ratios énergétiques

établir un ratio "énergie/poids" (en kcal/kg) pour chaque produit par pays
établir un ratio "poids de protéine / poids total" pour chaque produit par pays

Pour le ratio "poids des protéines / poids total"

In [1037]:
#on convertit les valeurs de la colonne nourriture en kg
aliments_df["dispo_alimentaire_kg"] = aliments_df["Nourriture"] * 1000000
#on supprime les valeurs égales à 0 
mask = aliments_df["dispo_alimentaire_kg"] != 0
aliments_df.loc[mask, 'ratio_kcal/kg'] = aliments_df.loc[mask, "dispo_alimentaire_kcal"] / aliments_df.loc[mask, "dispo_alimentaire_kg"]
aliments_df

,Code_Pays,Pays,Code_Produit,Produit,Origine,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,population,dispo_alimentaire_kcal,dispo_alimentaire_kgprotein,dispo_alimentaire_kg,ratio_kcal/kg
0,1,Arménie,2511,Blé,Végétale,93.0,0.0,1024.0,130.60,3.60,...,32.0,312.0,30.0,10.0,-118.0,2977000,1.112684e+12,3.316318e+07,3.890000e+08,2860.368946
1,1,Arménie,2513,Orge,Végétale,137.0,26.0,0.0,0.00,0.00,...,15.0,189.0,14.0,7.0,0.0,2977000,0.000000e+00,0.000000e+00,0.000000e+00,NaN
2,1,Arménie,2514,Maïs,Végétale,96.0,NaN,0.0,0.03,NaN,...,7.0,21.0,0.0,NaN,NaN,2977000,0.000000e+00,1.086605e+04,0.000000e+00,NaN
3,1,Arménie,2515,Seigle,Végétale,1.0,NaN,1.0,0.12,0.00,...,0.0,1.0,0.0,NaN,0.0,2977000,1.086605e+09,2.173210e+04,0.000000e+00,NaN
4,1,Arménie,2516,Avoine,Végétale,4.0,NaN,2.0,0.37,0.03,...,0.0,5.0,0.0,NaN,NaN,2977000,2.173210e+09,9.779445e+04,1.000000e+06,2173.210000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,276,Soudan,2763,Poissons Pelagiques,Animale,NaN,0.0,0.0,0.00,0.00,...,NaN,0.0,NaN,NaN,NaN,37964000,0.000000e+00,0.000000e+00,0.000000e+00,NaN
15601,276,Soudan,2764,"Poissons Marins, Autres",Animale,NaN,0.0,0.0,0.13,0.01,...,NaN,5.0,NaN,NaN,NaN,37964000,0.000000e+00,5.542744e+05,5.000000e+06,0.000000
15602,276,Soudan,2805,Riz (Eq Blanchi),Végétale,NaN,NaN,14.0,1.27,0.05,...,NaN,17.0,1.0,NaN,0.0,37964000,1.939960e+11,3.879921e+06,4.800000e+07,4041.584167
15603,276,Soudan,2848,Lait - Excl Beurre,Animale,NaN,0.0,315.0,155.20,20.01,...,NaN,5660.0,NaN,0.0,NaN,37964000,4.364911e+12,2.182455e+08,5.892000e+09,740.819908
15604,276,Soudan,2899,Miscellanees,Végétale,NaN,NaN,7.0,NaN,0.01,...,NaN,NaN,NaN,NaN,NaN,37964000,9.699802e+10,2.036958e+07,NaN,NaN

In [1038]:
#on regroupe les données par produit en appliquant la moyenne
stat_par_pays_df = aliments_df.groupby("Produit").mean()
stat_par_pays_df

,Code_Pays,Code_Produit,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,...,Pertes,Production,Semences,Traitement,Variation de stock,population,dispo_alimentaire_kcal,dispo_alimentaire_kgprotein,dispo_alimentaire_kg,ratio_kcal/kg
Produit,,,,,,,,,,,,,,,,,,,,,
Abats Comestible,125.431034,2736.0,43.869565,16.307692,8.505747,2.730345,0.254767,1.328621,101.074713,36.488889,...,3.476190,107.462428,NaN,NaN,0.481481,4.021452e+07,9.907831e+10,1.609122e+07,9.005172e+07,1129.258163
"Agrumes, Autres",125.725000,2614.0,NaN,3.125000,0.831169,1.348839,0.008211,0.018559,76.100000,6.148148,...,14.727273,183.718750,NaN,6.000000,0.851852,4.267466e+07,1.606344e+10,4.411723e+05,7.328387e+07,90.316654
"Alcool, non Comestible",125.693750,2659.0,NaN,137.778481,NaN,NaN,NaN,NaN,135.881250,79.200000,...,NaN,324.421875,NaN,NaN,20.652174,4.212981e+07,NaN,NaN,NaN,NaN
Aliments pour enfants,125.023392,2680.0,NaN,0.000000,4.049689,0.404596,0.031824,0.168696,0.491228,7.609023,...,0.500000,NaN,NaN,NaN,0.195122,4.071432e+07,1.736034e+10,7.338130e+05,4.726708e+06,3224.621937
Ananas,125.702381,2618.0,NaN,0.428571,3.922619,3.890536,0.015200,0.031544,138.583333,55.579710,...,30.500000,311.205128,NaN,0.800000,5.132353,4.082818e+07,4.212772e+10,3.684822e+05,1.235536e+08,366.683059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viande de Suides,126.191860,2733.0,NaN,7.282051,90.627219,14.663373,8.103728,4.086310,654.343023,105.068027,...,15.277778,702.322981,NaN,1.058824,0.525641,4.048491e+07,1.880341e+12,7.060198e+07,6.633136e+08,2465.154753
Viande de Volailles,125.431034,2734.0,0.000000,31.450000,74.879310,20.561322,4.921379,7.143391,614.798851,113.551020,...,38.500000,630.941860,NaN,12.810811,0.684211,4.021452e+07,8.617331e+11,7.570735e+07,6.027069e+08,1301.310330
"Viande, Autre",125.431034,2735.0,5.700000,1.000000,6.143678,1.800977,0.271570,0.866092,39.132184,5.408451,...,2.600000,46.764706,NaN,0.850000,0.038462,4.021452e+07,4.611526e+10,6.951264e+06,3.921264e+07,1116.232387
Vin,125.529070,2655.0,NaN,56.714286,11.970414,6.270710,NaN,0.000208,158.813953,71.243243,...,21.846154,436.671642,NaN,117.333333,-20.367089,4.051780e+07,9.398455e+10,4.030208e+01,1.360059e+08,616.335441
"Épices, Autres",124.976744,2645.0,NaN,12.333333,5.901163,0.622616,0.220175,0.184235,31.232558,10.408805,...,8.272727,58.838710,NaN,NaN,-0.104762,4.050692e+07,9.809293e+10,3.243216e+06,2.975581e+07,3259.160376

# D'après Wikipedia, la valeur énergétique d'un oeuf est de 1470 kcal/kg.

In [1039]:
#on va chercher la valeur calorique d'un oeuf en extrayant la valeur correspond à oeuf dans la colonne ratio_kcal/kg
stat_par_pays_df = stat_par_pays_df.reset_index()

#stat_par_pays_df[(stat_par_pays_df['Produit'] == 'Oeufs')]['ratio_kcal/kg'].mean()
#on constate que cette valeur est légèrement différente de celle trouvée

In [1040]:
#on cherche à comprendre pourquoi la moyenne trouvée est plus basse que celle sur internet
valeur_oeuf_df = aliments_df[['Produit', 'ratio_kcal/kg', 'Pays']]
valeur_oeuf_df = valeur_oeuf_df[valeur_oeuf_df['Produit'] == 'Oeufs']
valeur_oeuf_df = valeur_oeuf_df[valeur_oeuf_df['ratio_kcal/kg'] < 1000]
valeur_oeuf_df
#on constate que la valeur est très basse dans certains pays, ce qui fait baisser la moyenne

      Produit  ratio_kcal/kg                             Pays
1947    Oeufs     902.523333                         Cameroun
4393    Oeufs     955.935000                         Djibouti
5466    Oeufs     876.000000                           Guyana
11838   Oeufs     730.730000                     Sainte-Lucie
11923   Oeufs     795.700000  Saint-Vincent-et-les Grenadines
11998   Oeufs     704.450000             Sao Tomé-et-Principe

# ✅ Question 5 : Aliments les plus caloriques et protéiques

In [1041]:
#on supprime les valeurs égales à 0 pour éviter une division par 0
mask = aliments_df["dispo_alimentaire_kg"] != 0
# on calcule le ratio de protéines/kg
aliments_df.loc[mask, 'protein_%'] = 100 * aliments_df.loc[mask, "dispo_alimentaire_kgprotein"] / aliments_df.loc[mask, "dispo_alimentaire_kg"]

In [1042]:
#on regroupe les données par produit et pour chacun, on prend la moyenne du ratio de kcal/kg
question5_ratio_kcal_kg = aliments_df.groupby("Produit")["ratio_kcal/kg"].mean()
#on fait la même chose pour le % de protéines
question5_ratio_proteins_per_kg = aliments_df.groupby("Produit")["protein_%"].mean()
question5_ratios_kcal = pd.DataFrame({"ratio_kcal/kg": question5_ratio_kcal_kg})
#on affiche les 20 valeurs les plus élevées
question5_ratios_kcal.sort_values("ratio_kcal/kg", ascending=False)[:20]

                          ratio_kcal/kg
Produit
Huiles de Poissons          9003.715504
Huile de Palmistes          8789.540277
Huile de Palme              8719.419872
Huile de Germe de Maïs      8649.968502
Huile de Son de Riz         8641.430661
Huil Plantes Oleif Autr     8632.412578
Huile Graines de Coton      8613.596384
Huile de Soja               8571.839295
Huile de Colza&Moutarde     8498.605699
Huile d'Olive               8435.044366
Huile de Tournesol          8421.581842
Huile d'Arachide            8384.175329
Huile de Coco               8337.319542
Huile de Sésame             7861.453941
Graisses Animales Crue      7583.862063
Beurre, Ghee                7331.424291
Arachides Decortiquees      5620.249374
Sésame                      5478.524774
Huiles de Foie de Poisso    4991.466250
Palmistes                   4331.090000

In [1043]:
question5_ratios_prot = pd.DataFrame({"protein_%": question5_ratio_proteins_per_kg})
#on affiche les 5 valeurs les plus élevées
question5_ratios_prot.sort_values("protein_%", ascending=False)[:5]

                        protein_%
Produit
Soja                    28.533053
Arachides Decortiquees  25.146613
Pois                    22.324375
Légumineuses Autres     21.806434
Haricots                21.545181

# ✅ Question 6 : Dispo. intérieure mondiale des végétaux

In [1044]:
aliments_df.drop(aliments_df[aliments_df['Pays'] == 'Chine'].index, inplace=True)

In [1045]:
aliments_df["dispo_interieure_alimentaire_kg"] = aliments_df["Disponibilité intérieure"]*1000000
aliments_df.head()

,Code_Pays,Pays,Code_Produit,Produit,Origine,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Semences,Traitement,Variation de stock,population,dispo_alimentaire_kcal,dispo_alimentaire_kgprotein,dispo_alimentaire_kg,ratio_kcal/kg,protein_%,dispo_interieure_alimentaire_kg
0,1,Arménie,2511,Blé,Végétale,93.0,0.0,1024.0,130.60,3.60,...,30.0,10.0,-118.0,2977000,1.112684e+12,33163184.60,389000000.0,2860.368946,8.525240,554000000.0
1,1,Arménie,2513,Orge,Végétale,137.0,26.0,0.0,0.00,0.00,...,14.0,7.0,0.0,2977000,0.000000e+00,0.00,0.0,NaN,NaN,198000000.0
2,1,Arménie,2514,Maïs,Végétale,96.0,NaN,0.0,0.03,NaN,...,0.0,NaN,NaN,2977000,0.000000e+00,10866.05,0.0,NaN,NaN,102000000.0
3,1,Arménie,2515,Seigle,Végétale,1.0,NaN,1.0,0.12,0.00,...,0.0,NaN,0.0,2977000,1.086605e+09,21732.10,0.0,NaN,NaN,1000000.0
4,1,Arménie,2516,Avoine,Végétale,4.0,NaN,2.0,0.37,0.03,...,0.0,NaN,NaN,2977000,2.173210e+09,97794.45,1000000.0,2173.210000,9.779445,6000000.0

In [1046]:
aliments_df["dispo_interieure_alimentaire_kcal"] = aliments_df["dispo_interieure_alimentaire_kg"]*aliments_df["ratio_kcal/kg"]
aliments_df

,Code_Pays,Pays,Code_Produit,Produit,Origine,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Traitement,Variation de stock,population,dispo_alimentaire_kcal,dispo_alimentaire_kgprotein,dispo_alimentaire_kg,ratio_kcal/kg,protein_%,dispo_interieure_alimentaire_kg,dispo_interieure_alimentaire_kcal
0,1,Arménie,2511,Blé,Végétale,93.0,0.0,1024.0,130.60,3.60,...,10.0,-118.0,2977000,1.112684e+12,3.316318e+07,3.890000e+08,2860.368946,8.525240,5.540000e+08,1.584644e+12
1,1,Arménie,2513,Orge,Végétale,137.0,26.0,0.0,0.00,0.00,...,7.0,0.0,2977000,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,1.980000e+08,NaN
2,1,Arménie,2514,Maïs,Végétale,96.0,NaN,0.0,0.03,NaN,...,NaN,NaN,2977000,0.000000e+00,1.086605e+04,0.000000e+00,NaN,NaN,1.020000e+08,NaN
3,1,Arménie,2515,Seigle,Végétale,1.0,NaN,1.0,0.12,0.00,...,NaN,0.0,2977000,1.086605e+09,2.173210e+04,0.000000e+00,NaN,NaN,1.000000e+06,NaN
4,1,Arménie,2516,Avoine,Végétale,4.0,NaN,2.0,0.37,0.03,...,NaN,NaN,2977000,2.173210e+09,9.779445e+04,1.000000e+06,2173.210000,9.779445,6.000000e+06,1.303926e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,276,Soudan,2763,Poissons Pelagiques,Animale,NaN,0.0,0.0,0.00,0.00,...,NaN,NaN,37964000,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00,NaN
15601,276,Soudan,2764,"Poissons Marins, Autres",Animale,NaN,0.0,0.0,0.13,0.01,...,NaN,NaN,37964000,0.000000e+00,5.542744e+05,5.000000e+06,0.000000,11.085488,5.000000e+06,0.000000e+00
15602,276,Soudan,2805,Riz (Eq Blanchi),Végétale,NaN,NaN,14.0,1.27,0.05,...,NaN,0.0,37964000,1.939960e+11,3.879921e+06,4.800000e+07,4041.584167,8.083168,4.900000e+07,1.980376e+11
15603,276,Soudan,2848,Lait - Excl Beurre,Animale,NaN,0.0,315.0,155.20,20.01,...,0.0,NaN,37964000,4.364911e+12,2.182455e+08,5.892000e+09,740.819908,3.704100,5.892000e+09,4.364911e+12
15604,276,Soudan,2899,Miscellanees,Végétale,NaN,NaN,7.0,NaN,0.01,...,NaN,NaN,37964000,9.699802e+10,2.036958e+07,NaN,NaN,NaN,NaN,NaN

In [1047]:
#on récupère uniquement les aliments d'origine végétale
dispo_mondiale_vegetaux_df = aliments_df[aliments_df['Origine'] == 'Végétale']
#on extrait les colonnes qui nous intéressent
dispo_mondiale_vegetaux_df[['Pays', 'Origine', 'Produit', 'dispo_interieure_alimentaire_kcal']]
#on fait la somme des dispo alimentaires en kcal de tous les pays pour obtenir la dispo mondiale
dispo_mondiale_vegetaux_df_sum = dispo_mondiale_vegetaux_df[['dispo_interieure_alimentaire_kcal']].sum()
dispo_mondiale_vegetaux_df_sum
#la Chine en double fausse les données

dispo_interieure_alimentaire_kcal    1.231209e+16
dtype: float64

# Selon les données de l'ONU, la valeur de cette disponibilité intérieure en végétaux mondiale serait plutôt aux alentours des "6.0530369e+15".

# ✅ Question 7 : Potentiel alimentaire des végétaux 
D'après l'ONU, les besoins alimentaires d'un être humain s'élèvent environ à 2300 kcal/jour.

In [1065]:
jour_dans_année = 365
besoin_humain = 2300
potentiel_alimentaire = dispo_mondiale_vegetaux_df_sum / (besoin_humain * jour_dans_année)
# calories
potentiel_alimentaire_calories = dispo_mondiale_vegetaux_df_sum[0]*1000
print("Dispo mondiale en calories : ",potentiel_alimentaire_calories )

Dispo mondiale en calories :  1.2312091265143276e+19

In [1066]:
#population_mondiale = nombre d'habitants sur terre en 2013 d'après nos données
pourcentage_vegetaux = potentiel_alimentaire/population_mondiale*100
print("%.2f%%" % (pourcentage_vegetaux))

209.59%

# Un homme adulte en bonne santé a besoin de 63 grammes de protéines par jour d'après l'Apports Nutritionnels Conseillés (ANC)

In [1050]:
besoin_prot = 63
#on récupère uniquement les aliments d'origine végétale
dispo_mondiale_vegetaux_df = aliments_df[aliments_df['Origine'] == 'Végétale']
#on extrait les colonnes qui nous intéressent
dispo_mondiale_vegetaux_df[['Pays', 'Origine', 'Produit', 'dispo_alimentaire_kgprotein']]
#on fait la somme des dispo alimentaires en kcal de tous les pays pour obtenir la dispo mondiale
dispo_mondiale_prot_df_sum = dispo_mondiale_vegetaux_df[['dispo_alimentaire_kgprotein']].sum()
dispo_mondiale_prot_df_sum

dispo_alimentaire_kgprotein    1.252016e+11
dtype: float64

In [1051]:
# on récupère le potentiel_alimentaire_prot à partir de la disponibilité mondiale sur le besoin en prot qu'on transforme en gramme multiplié par le nombre de jours dans une année
potentiel_alimentaire_prot = dispo_mondiale_prot_df_sum / (besoin_prot * 0.001 * jour_dans_année)
#sum_of_column = nombre d'habitants sur terre en 2013
pourcentage_prot = (potentiel_alimentaire_prot/population_mondiale) * 100
print("%.2f%%" % (pourcentage_prot))

77.81%

# ❌ Question 8 : Potentiel alimentaire des végétaux (destinés aux animaux pertes)

In [1052]:
question8_quantité_vegetaux = population_df.merge(vegetal_df, on='Pays')
question8_quantité_vegetaux = question8_quantité_vegetaux[question8_quantité_vegetaux['Élément_y'].isin(['Disponibilité intérieure', 'Pertes', 'Aliments pour animaux'])].copy()
question8_quantité_vegetaux['quantité (kg)'] = question8_quantité_vegetaux['quantité'] * 1000 * 1000
question8_quantité_vegetaux.head()

,Code_Domaine_x,Domaine_x,Code_Pays_x,Pays,Code_Élément_x,Élément_x,Code_Produit_x,Produit_x,Code_Année_x,Année_x,...,Code_Produit_y,Produit_y,Code_Année_y,Année_y,Unité_y,quantité,Symbole_y,Description_du_Symbole_y,Origine,quantité (kg)
3,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,...,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées,Végétale,5.992000e+09
5,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,...,2511,Blé,2013,2013,Milliers de tonnes,775.0,S,Données standardisées,Végétale,7.750000e+08
13,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,...,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,461.0,S,Données standardisées,Végétale,4.610000e+08
15,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,...,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,24.0,S,Données standardisées,Végétale,2.400000e+07
24,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,...,2513,Orge,2013,2013,Milliers de tonnes,524.0,S,Données standardisées,Végétale,5.240000e+08

In [1053]:
question8_quantité_vegetaux = question8_quantité_vegetaux.loc[:, ['Produit_y', 'quantité (kg)']].groupby('Produit_y').agg('sum')
question8_quantité_vegetaux

                        quantité (kg)
Produit_y
Agrumes, Autres          9.250000e+08
Alcool, non Comestible   2.882000e+09
Aliments pour enfants    2.900000e+07
Ananas                   5.900000e+09
Arachides Decortiquees   3.777000e+09
...                               ...
Sésame                   1.258000e+09
Thé                      7.930000e+08
Tomates                  1.272500e+10
Vin                      4.850000e+09
Épices, Autres           7.000000e+08

[74 rows x 1 columns]

# Question 9 : Potentiel alimentaire de la dispo. Mondiale

# ✅ Question 10 : Proportion de la sous-nutrition mondiale

In [1054]:
sous_alimentation_df

,Code_Domaine,Domaine,Code zone,Pays,Code Élément,Élément,Code_Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description_du_Symbole
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.1,F,Estimation FAO
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO
2,FS,Données de la sécurité alimentaire,3,Albanie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.2,F,Estimation FAO
3,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.8,F,Estimation FAO
4,FS,Données de la sécurité alimentaire,79,Allemagne,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,<2,Moins de 2 millions de personnes sont sous-ali...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,FS,Données de la sécurité alimentaire,236,Venezuela (République bolivarienne du),6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.8,F,Estimation FAO
200,FS,Données de la sécurité alimentaire,237,Viet Nam,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,11.1,F,Estimation FAO
201,FS,Données de la sécurité alimentaire,249,Yémen,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.1,F,Estimation FAO
202,FS,Données de la sécurité alimentaire,251,Zambie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.0,F,Estimation FAO
203,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,6.7,F,Estimation FAO

In [1055]:
population_df.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code_Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,population,Symbole,Description_du_Symbole
0,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,30552,NaN,Official data
1,FBS,Food Balance Sheets,3,Albania,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,3173,NaN,Official data
2,FBS,Food Balance Sheets,4,Algeria,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,39208,NaN,Official data
3,FBS,Food Balance Sheets,7,Angola,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,21472,NaN,Official data
4,FBS,Food Balance Sheets,8,Antigua and Barbuda,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,90,NaN,Official data

In [1056]:
sous_alimentation_df["Valeur"] = pd.to_numeric(sous_alimentation_df["Valeur"], errors='coerce')
sous_alimentation_df["Valeur"] = sous_alimentation_df["Valeur"].where(pd.notnull(sous_alimentation_df["Valeur"]), sous_alimentation_df["Symbole"].apply(lambda x: float(re.findall("\d+\.\d+|\d+", x)[0]) if re.search("\d+\.\d+|\d+", x) else None), axis=0)
sous_alimentation_df[["Valeur","Symbole"]]

     Valeur Symbole
0       8.1       F
1       2.6       F
2       0.2       F
3       1.8       F
4       2.0      <2
..      ...     ...
199     1.8       F
200    11.1       F
201     7.1       F
202     7.0       F
203     6.7       F

[204 rows x 2 columns]

In [1057]:
#Le code crée un nouveau DataFrame appelé proportion_sous_alimentation qui est une copie du DataFrame sous_alimentation_df, 
# mais uniquement avec les lignes où la valeur de la colonne 'Année'  '2012-2014'.
proportion_sous_alimentation = sous_alimentation_df[sous_alimentation_df['Année'] == '2012-2014'].copy()
#Ensuite, on convertit la colonne 'Valeur' en numérique, en remplaçant toute valeur non numérique par NaN.
# proportion_sous_alimentation['Valeur'] = pd.to_numeric(proportion_sous_alimentation['Valeur'], errors='coerce')
#On crée une nouvelle colonne appelée "total_sous_nutrition" qui correspond à la colonne "Valeur" multipliée par 1000000 pour millier de tonnes en kilos.
proportion_sous_alimentation['total_sous_nutrition'] = proportion_sous_alimentation['Valeur'] * 1000000
#Ensuite, on fusionne le DataFrame proportion_sous_alimentation avec le DataFrame population_df sur la colonne 'Pays', en utilisant une jointure droite.
proportion_sous_alimentation = proportion_sous_alimentation.merge(population_df, on='Pays', how='right')
#On crée une nouvelle colonne appelée 'population' qui est la colonne 'population' multipliée par 1000 pour millier de personne.
proportion_sous_alimentation['population'] = proportion_sous_alimentation['population'] * 1000
#On calcule le ratio de la colonne 'total_sous_nutrition' par la colonne 'population' et on assigne le résultat à la variable ratio_sous_nutrition.
ratio_sous_nutrition = proportion_sous_alimentation['total_sous_nutrition'].sum()/proportion_sous_alimentation['population'].sum()
#Enfin, on print  la population totale en sous-nutrition sous forme de pourcentage.
print("Total population en sous nutrition","%.2f%%" % (ratio_sous_nutrition * 100))

Total population en sous nutrition 2.80%

# ✅ Question 11 : Céréales

In [1058]:
# Ajout de la colonne "type_cereal" à la liste qui prend seulement les produit de type céreal
aliments_df['type_cereal'] = aliments_df['Produit'].isin(list(cereals_df['Produit']))
liste_cereal = aliments_df[aliments_df['type_cereal'] == True]
# Voici la liste de céréale
print(liste_cereal['Produit'].unique())

['Blé' 'Orge' 'Maïs' 'Seigle' 'Avoine' 'Millet' 'Sorgho'
 'Céréales, Autres' 'Riz (Eq Blanchi)']

In [1059]:
#Ce code crée un nouveau DataFrame appelé type_cereal_df qui est un sous-ensemble du DataFrame aliments_df contenant uniquement les lignes où la valeur de la colonne 'type_cereal' est True.
type_cereal_df = aliments_df[aliments_df['type_cereal']]
#Ensuite, on crée un nouveau DataFrame appelé type_cereal_alimentation qui est un sous-ensemble du DataFrame type_cereal_df, 
#mais qui ne contient que les lignes où la valeur de la colonne 'Aliments pour animaux' est supérieure à 0 OU la valeur de la colonne 'Nourriture' est supérieure à 0.
type_cereal_alimentation = type_cereal_df[(type_cereal_df['Aliments pour animaux'] > 0) | (type_cereal_df['Nourriture'] > 0)]
#on additionne toutes les valeurs de la colonne "Aliments pour animaux" et attribue le résultat à la variable cereal_nourriture_animale.
cereal_nourriture_animale = type_cereal_alimentation['Aliments pour animaux'].sum()
#on additionne toutes les valeurs de la colonne "Nourriture" et ajoute la valeur de cereal_nourriture_animale et affecte le résultat à la variable cereal_nourriture.
cereal_nourriture = type_cereal_alimentation['Nourriture'].sum() + cereal_nourriture_animale
#Enfin, on print la proportion de céréales destinées à l'alimentation animale en termes de poids, sous forme de pourcentage.
print("Proportion (en termes de poids) destinée à l'alimentation animale","%.2f%%" % ((cereal_nourriture_animale/cereal_nourriture) * 100))

Proportion (en termes de poids) destinée à l'alimentation animale 45.91%

# Question 12 : Sous-nutrition

# ✅ Question 13 : USA

In [1060]:
#Le code crée un nouveau DataFrame appelé cereal_usa, qui est un sous-ensemble du DataFrame type_cereal_df, mais uniquement avec les lignes où la valeur de la colonne 'Pays' est 'États-Unis d'Amérique'. 
#On utilise la méthode .copy() pour créer un nouveau DataFrame, au lieu de créer simplement un pointeur vers le même DataFrame.
cereal_usa = type_cereal_df[type_cereal_df['Pays'] == "États-Unis d'Amérique"].copy()
#Ensuite, on additionne toutes les valeurs de la colonne 'Aliments pour animaux' du DataFrame cereal_usa, on les multiplie par 1000 et on attribue le résultat à la variable cereal_alimentation_animaux_usa.
cereal_alimentation_animaux_usa = cereal_usa['Aliments pour animaux'].sum() * 1000

In [1061]:
print(f"Quantité totale de nourriture utilisée pour l'alimentation animale aux États-Unis en tonnes: {cereal_alimentation_animaux_usa:,} tonnes")

Quantité totale de nourriture utilisée pour l'alimentation animale aux États-Unis en tonnes: 140,096,000.0 tonnes

In [1062]:
#on prend seulement 10%
seulement_10percent = cereal_alimentation_animaux_usa * 0.1
print(f"Céréales libérées si l'on réduit de 10% l'alimentation animale: {seulement_10percent:,.2f} tonnes")

Céréales libérées si l'on réduit de 10% l'alimentation animale: 14,009,600.00 tonnes

# Question 14 : Thaïlande

# Question 15 : la table "population"