<a href="https://colab.research.google.com/github/Lorenzo1208/Brief_fao/blob/main/FAO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [440]:
import pandas as pd
import numpy as np
animals = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_animal.csv')
animals.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Valeur': 'quantité',  'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
animals

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBS,Bilans Alimentaires,351,Chine,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,A,"Agrégat, peut inclure des données officielles,..."
37162,FBS,Bilans Alimentaires,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.24,Fc,Donnée calculée
37163,FBS,Bilans Alimentaires,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
37164,FBS,Bilans Alimentaires,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.69,Fc,Donnée calculée
37165,FBS,Bilans Alimentaires,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée

In [441]:
animals.drop(animals[animals['Code_Pays'] == 351].index, inplace=True)
animals.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

In [442]:
cereals = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_cereal.csv')
cereals.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
cereals.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,Valeur,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [443]:
world_population = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_population.csv')
world_population.rename(columns={'Domain Code':'Code_Domaine','Domain':'Domaine', 'Country Code': 'Code_Pays','Element Code':'Code_Élément', 'Element':'Élément','Item Code': 'Code_Produit', 'Item':'Produit', 'Year Code':'Code_Année','Year': 'Année' , 'Country': 'Pays', 'Unit': 'Unité', 'Value': 'population','Flag':'Symbole', 'Flag Description': 'Description_du_Symbole'}, inplace=True)
world_population.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code_Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,population,Symbole,Description_du_Symbole
0,FBS,Food Balance Sheets,2,Afghanistan,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,30552,NaN,Official data
1,FBS,Food Balance Sheets,3,Albania,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,3173,NaN,Official data
2,FBS,Food Balance Sheets,4,Algeria,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,39208,NaN,Official data
3,FBS,Food Balance Sheets,7,Angola,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,21472,NaN,Official data
4,FBS,Food Balance Sheets,8,Antigua and Barbuda,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,90,NaN,Official data

In [444]:
sous_alimentation = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_sous_alimentation.csv')
sous_alimentation.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
sous_alimentation.head()

,Code_Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code_Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description_du_Symbole
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,8.1,F,Estimation FAO
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO
2,FS,Données de la sécurité alimentaire,3,Albanie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,0.2,F,Estimation FAO
3,FS,Données de la sécurité alimentaire,4,Algérie,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,1.8,F,Estimation FAO
4,FS,Données de la sécurité alimentaire,79,Allemagne,6132,Valeur,21001,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,NaN,<2,Moins de 2 millions de personnes sont sous-ali...

In [445]:
print(animals.shape)
print(cereals.shape)
print(world_population.shape)
print(sous_alimentation.shape)

(36908, 14)
(16057, 14)
(175, 14)
(204, 14)

# Question 1 : Nombre d'humains sur la planète

In [446]:
world_population.population.describe()

count    1.750000e+02
mean     4.807996e+04
std      1.786327e+05
min      5.400000e+01
25%      2.543500e+03
50%      9.413000e+03
75%      2.888150e+04
max      1.416667e+06
Name: population, dtype: float64

In [447]:
sum_of_column = world_population['population'].sum()
print(sum_of_column*1000)
# On multiplie par l'unité donc x1000

8413993000

# Selon wikipedia en 2013 nous étions 7,17 Milliards d'habitants et la Chine possédée 1,3 Mds d'habitants. Comment expliquer les 8 413 993 000 ?

In [448]:
world_population['population'].duplicated().value_counts()

False    175
Name: population, dtype: int64

In [449]:
world_population[world_population.duplicated() == True].count()

Code_Domaine              0
Domaine                   0
Code_Pays                 0
Pays                      0
Code_Élément              0
Élément                   0
Code_Produit              0
Produit                   0
Code_Année                0
Année                     0
Unité                     0
population                0
Symbole                   0
Description_du_Symbole    0
dtype: int64

In [450]:
world_population.sort_values(by='population', ascending=False).head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code_Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,population,Symbole,Description_du_Symbole
174,FBS,Food Balance Sheets,351,China,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1416667,A,"Aggregate, may include official, semi-official..."
34,FBS,Food Balance Sheets,41,"China, mainland",511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1385567,NaN,Official data
73,FBS,Food Balance Sheets,100,India,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,1252140,NaN,Official data
165,FBS,Food Balance Sheets,231,United States of America,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,320051,NaN,Official data
74,FBS,Food Balance Sheets,101,Indonesia,511,Total Population - Both sexes,2501,Population,2013,2013,1000 persons,249866,NaN,Official data

# La Chine était comptée 2 fois, en effet il y avait la Chine et ses territoires semi-indépendants (Hong kong, Macao, Taïwan).On va donc supprimer la valeur totale et laissé territoires semi-indépendants.

In [451]:
mask = world_population['Pays'] == "China"
world_population.drop(world_population[mask].index, inplace=True)
sum_of_column = world_population['population'].sum()
print(sum_of_column*1000)

6997326000

# Il manque encore environ 100 millions d'habitants mais ici il n'y a que 174 pays alors que l'ONU en reconnaît officiellement 194. Il manque donc certains pays. Mais ici on ne va pas les rajouter mais partir du principe qu'il y avait 6 997 326 000 habitants.

# Question 2 : Redondances

In [452]:
cereal_blé = cereals[(cereals.Pays == 'France') & (cereals.Produit == 'Blé')]
cereal_blé.head(11)

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,Valeur,Symbole,Description_du_Symbole
5415,FBS,Bilans Alimentaires,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.0,S,Données standardisées
5416,FBS,Bilans Alimentaires,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.0,S,Données standardisées
5417,FBS,Bilans Alimentaires,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.0,S,Données standardisées
5418,FBS,Bilans Alimentaires,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.0,S,Données standardisées
5419,FBS,Bilans Alimentaires,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.0,S,Données standardisées
5420,FBS,Bilans Alimentaires,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.0,S,Données standardisées
5421,FBS,Bilans Alimentaires,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.0,S,Données standardisées
5422,FBS,Bilans Alimentaires,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.0,S,Données standardisées
5423,FBS,Bilans Alimentaires,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.0,S,Données standardisées
5424,FBS,Bilans Alimentaires,68,France,5154,Autres Utilisations,2511,Blé,2013,2013,Milliers de tonnes,2824.0,S,Données standardisées
5425,FBS,Bilans Alimentaires,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.0,S,Données standardisées

# disponibilitéIntérieure = (Nourriture+NourritureAnimaux+Semences+Pertes+Traitements+AutresUtilisations)=(Production+Importation+VariationDeStock)−Exportation

In [453]:
cereal_blé_élément = cereal_blé['Élément']
disponibilité_interieur = cereal_blé[cereal_blé_élément == 'Disponibilité intérieure']['Valeur'].sum()
production = cereal_blé[cereal_blé_élément == 'Production']['Valeur'].sum()
imports = cereal_blé[cereal_blé_élément == 'Importations - Quantité']['Valeur'].sum()
exports = cereal_blé[cereal_blé_élément == 'Exportations - Quantité']['Valeur'].sum()
stock_variation = cereal_blé[cereal_blé_élément == 'Variation de stock']['Valeur'].sum()
semences = cereal_blé[cereal_blé_élément == 'Semences']['Valeur'].sum()
nourriture_animaux = cereal_blé[cereal_blé_élément == 'Aliments pour animaux']['Valeur'].sum()
nourriture = cereal_blé[cereal_blé_élément == 'Nourriture']['Valeur'].sum()
pertes = cereal_blé[cereal_blé_élément == 'Pertes']['Valeur'].sum()
traitement = cereal_blé[cereal_blé_élément == 'Traitement']['Valeur'].sum()
autres = cereal_blé[cereal_blé_élément == 'Autres Utilisations']['Valeur'].sum()
print('La disponibilité intérieure vaut : {}'.format(disponibilité_interieur))
print('Production + Imports + Variation - Exports : {}'.format((production + imports + stock_variation) - exports))
print('semences + nourriture_animaux + nourriture + pertes + traitement + autres : {}'.format(semences + nourriture_animaux + nourriture + pertes + traitement + autres))

La disponibilité intérieure vaut : 20298.0
Production + Imports + Variation - Exports : 20298.0
semences + nourriture_animaux + nourriture + pertes + traitement + autres : 20298.0

# Question 3 : Disponibilité alimentaire (calories, protéines)

Définition : La disponibilité alimentaire c'est la disponibilité d'aliments en quantité suffisante et d'une qualité appropriée, dont l'approvisionnement est assurée par la production nationale ou les importations.

Calculons cette valeur par Pays et par Produit: en kcal/personne/jour et en kg de protéines/personne/jour.

On possède pour certains produits avec des unités en g/personne/jour on va pouvoir les convertir en kg/personne/jour

Disponibilité de protéines en quantité (g/personne/jour) => Disponibilité de protéines en quantité (kg/personne/jour)

In [454]:
vegetal = pd.read_csv('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_vegetal.csv')
vegetal.rename(columns={'Code Domaine':'Code_Domaine', 'Code Pays': 'Code_Pays','Code Élément	':'Code_Élément', 'Code Produit': 'Code_Produit', 'Code Année':'Code_Année','Valeur':'quantité', 'Description du Symbole': 'Description_du_Symbole'}, inplace=True)
vegetal.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [455]:
animals_vegetal_concat = pd.concat([animals,vegetal])
animals_vegetal_concat.head()

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,quantité,Symbole,Description_du_Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

In [456]:
animals_vegetal_concat =  animals_vegetal_concat.pivot_table(
    index=["Code_Pays","Pays","Code_Produit","Produit"],
    columns = ["Élément"], values=["quantité"], aggfunc=sum)
animals_vegetal_concat

                                                                   quantité  \
Élément                                               Aliments pour animaux
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                     93.0
                  2513         Orge                                   137.0
                  2514         Maïs                                    96.0
                  2515         Seigle                                   1.0
                  2516         Avoine                                   4.0
...                                                                     ...
351       Chine   2659         Alcool, non Comestible                   NaN
                  2680         Aliments pour enfants                    NaN
                  2745         Miel                                     NaN
                  2805         Riz (Eq Blanchi)                     12117.0
                  2899         Miscellanees                             NaN

                                                                           \
Élément                                               Autres Utilisations
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                    0.0
                  2513         Orge                                  26.0
                  2514         Maïs                                   NaN
                  2515         Seigle                                 NaN
                  2516         Avoine                                 NaN
...                                                                   ...
351       Chine   2659         Alcool, non Comestible               239.0
                  2680         Aliments pour enfants                  NaN
                  2745         Miel                                   0.0
                  2805         Riz (Eq Blanchi)                    2085.0
                  2899         Miscellanees                           NaN

                                                                                                      \
Élément                                               Disponibilité alimentaire (Kcal/personne/jour)
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                                            1024.0
                  2513         Orge                                                              0.0
                  2514         Maïs                                                              0.0
                  2515         Seigle                                                            1.0
                  2516         Avoine                                                            2.0
...                                                                                              ...
351       Chine   2659         Alcool, non Comestible                                            NaN
                  2680         Aliments pour enfants                                             1.0
                  2745         Miel                                                              2.0
                  2805         Riz (Eq Blanchi)                                                797.0
                  2899         Miscellanees                                                      0.0

                                                                                                              \
Élément                                               Disponibilité alimentaire en quantité (kg/personne/an)
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                                                130.60
                  2513         Orge                                                                 0.00
                  2514         Maïs                                                                 0.03
                  2515         Seigle                                                               0.12
                  2516         Avoine                                                               0.37
...                                                                                                  ...
351       Chine   2659         Alcool, non Comestible                                                NaN
                  2680         Aliments pour enfants                                                0.09
                  2745         Miel                                                                 0.25
                  2805         Riz (Eq Blanchi)                                                    77.45
                  2899         Miscellanees                                                          NaN

                                                                                                                     \
Élément                                               Disponibilité de matière grasse en quantité (g/personne/jour)
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                                                  3.60
                  2513         Orge                                                                 0.00
                  2514         Maïs                                                                  NaN
                  2515         Seigle                                                               0.00
                  2516         Avoine                                                               0.03
...                                                                                                  ...
351       Chine   2659         Alcool, non Comestible                                                NaN
                  2680         Aliments pour enfants                                                0.01
                  2745         Miel                                                                  NaN
                  2805         Riz (Eq Blanchi)                                                     2.68
                  2899         Miscellanees                                                         0.00

                                                                                                                \
Élément                                               Disponibilité de protéines en quantité (g/personne/jour)
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                                                 30.52
                  2513         Orge                                                                 0.00
                  2514         Maïs                                                                 0.01
                  2515         Seigle                                                               0.02
                  2516         Avoine                                                               0.09
...                                                                                                  ...
351       Chine   2659         Alcool, non Comestible                                                NaN
                  2680         Aliments pour enfants                                                0.04
                  2745         Miel                                                                 0.00
                  2805         Riz (Eq Blanchi)                                                    14.47
                  2899         Miscellanees                                                         0.01

                                                                                \
Élément                                               Disponibilité intérieure
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                       554.0
                  2513         Orge                                      198.0
                  2514         Maïs                                      102.0
                  2515         Seigle                                      1.0
                  2516         Avoine                                      6.0
...                                                                        ...
351       Chine   2659         Alcool, non Comestible                    239.0
                  2680         Aliments pour enfants                     133.0
                  2745         Miel                                      350.0
                  2805         Riz (Eq Blanchi)                       135024.0
                  2899         Miscellanees                                NaN

                                                                               \
Élément                                               Exportations - Quantité
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                        1.0
                  2513         Orge                                       0.0
                  2514         Maïs                                       NaN
                  2515         Seigle                                     NaN
                  2516         Avoine                                     NaN
...                                                                       ...
351       Chine   2659         Alcool, non Comestible                    46.0
                  2680         Aliments pour enfants                      2.0
                  2745         Miel                                     128.0
                  2805         Riz (Eq Blanchi)                         565.0
                  2899         Miscellanees                               NaN

                                                                               \
Élément                                               Importations - Quantité
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                      361.0
                  2513         Orge                                       9.0
                  2514         Maïs                                      82.0
                  2515         Seigle                                     0.0
                  2516         Avoine                                     1.0
...                                                                       ...
351       Chine   2659         Alcool, non Comestible                    85.0
                  2680         Aliments pour enfants                    134.0
                  2745         Miel                                      12.0
                  2805         Riz (Eq Blanchi)                        2714.0
                  2899         Miscellanees                               NaN

                                                                          \
Élément                                               Nourriture  Pertes
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                         389.0    32.0
                  2513         Orge                          0.0    15.0
                  2514         Maïs                          0.0     7.0
                  2515         Seigle                        0.0     0.0
                  2516         Avoine                        1.0     0.0
...                                                          ...     ...
351       Chine   2659         Alcool, non Comestible        NaN     NaN
                  2680         Aliments pour enfants       132.0     0.0
                  2745         Miel                        350.0     NaN
                  2805         Riz (Eq Blanchi)         109725.0  6406.0
                  2899         Miscellanees                  NaN     NaN

                                                                           \
Élément                                               Production Semences
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                         312.0     30.0
                  2513         Orge                        189.0     14.0
                  2514         Maïs                         21.0      0.0
                  2515         Seigle                        1.0      0.0
                  2516         Avoine                        5.0      0.0
...                                                          ...      ...
351       Chine   2659         Alcool, non Comestible      200.0      NaN
                  2680         Aliments pour enfants         NaN      NaN
                  2745         Miel                        466.0      NaN
                  2805         Riz (Eq Blanchi)         136873.0   4679.0
                  2899         Miscellanees                  NaN      NaN

                                                                  \
Élément                                               Traitement
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                          10.0
                  2513         Orge                          7.0
                  2514         Maïs                          NaN
                  2515         Seigle                        NaN
                  2516         Avoine                        NaN
...                                                          ...
351       Chine   2659         Alcool, non Comestible        NaN
                  2680         Aliments pour enfants         NaN
                  2745         Miel                          NaN
                  2805         Riz (Eq Blanchi)             12.0
                  2899         Miscellanees                  NaN


Élément                                               Variation de stock
Code_Pays Pays    Code_Produit Produit
1         Arménie 2511         Blé                                -118.0
                  2513         Orge                                  0.0
                  2514         Maïs                                  NaN
                  2515         Seigle                                0.0
                  2516         Avoine                                NaN
...                                                                  ...
351       Chine   2659         Alcool, non Comestible                NaN
                  2680         Aliments pour enfants                 0.0
                  2745         Miel                                  NaN
                  2805         Riz (Eq Blanchi)                  -3998.0
                  2899         Miscellanees                          NaN

[15680 rows x 15 columns]

In [457]:
animals_vegetal_concat.columns = ['Aliments pour animaux', 'Autres utilisations', 'Disponibilité alimentaire (Kcal/personne/jour)',
    'Disponibilité alimentaire en quantité (kg/personne/an)', 'Disponibilité de matière grasse en quantité (g/personne/jour)', 
    'Disponibilité de protéines en quantité (g/personne/jour)', 'Disponibilité intérieure', 'Exportations - Quantité',
    'Importations - Quantité', 'Food', 'Pertes',
    'Production', 'Semences', 'Traitement','Variation de stock']

In [458]:
animals_vegetal_concat = animals_vegetal_concat.reset_index()
animals_vegetal_concat

,Code_Pays,Pays,Code_Produit,Produit,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Food,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15675,351,Chine,2659,"Alcool, non Comestible",NaN,239.0,NaN,NaN,NaN,NaN,239.0,46.0,85.0,NaN,NaN,200.0,NaN,NaN,NaN
15676,351,Chine,2680,Aliments pour enfants,NaN,NaN,1.0,0.09,0.01,0.04,133.0,2.0,134.0,132.0,0.0,NaN,NaN,NaN,0.0
15677,351,Chine,2745,Miel,NaN,0.0,2.0,0.25,NaN,0.00,350.0,128.0,12.0,350.0,NaN,466.0,NaN,NaN,NaN
15678,351,Chine,2805,Riz (Eq Blanchi),12117.0,2085.0,797.0,77.45,2.68,14.47,135024.0,565.0,2714.0,109725.0,6406.0,136873.0,4679.0,12.0,-3998.0
15679,351,Chine,2899,Miscellanees,NaN,NaN,0.0,NaN,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [459]:
animals_vegetal_concat
cereal_blé = cereals[(cereals.Pays == 'France') & (cereals.Produit == 'Blé')]
cereal_blé.head(11)

,Code_Domaine,Domaine,Code_Pays,Pays,Code Élément,Élément,Code_Produit,Produit,Code_Année,Année,Unité,Valeur,Symbole,Description_du_Symbole
5415,FBS,Bilans Alimentaires,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.0,S,Données standardisées
5416,FBS,Bilans Alimentaires,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.0,S,Données standardisées
5417,FBS,Bilans Alimentaires,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.0,S,Données standardisées
5418,FBS,Bilans Alimentaires,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.0,S,Données standardisées
5419,FBS,Bilans Alimentaires,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.0,S,Données standardisées
5420,FBS,Bilans Alimentaires,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.0,S,Données standardisées
5421,FBS,Bilans Alimentaires,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.0,S,Données standardisées
5422,FBS,Bilans Alimentaires,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.0,S,Données standardisées
5423,FBS,Bilans Alimentaires,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.0,S,Données standardisées
5424,FBS,Bilans Alimentaires,68,France,5154,Autres Utilisations,2511,Blé,2013,2013,Milliers de tonnes,2824.0,S,Données standardisées
5425,FBS,Bilans Alimentaires,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.0,S,Données standardisées

In [460]:
# Ajout de la population à data via une jointure
animals_vegetal_concat = pd.merge(animals_vegetal_concat, world_population[['Code_Pays','population']], on=["Code_Pays"])
animals_vegetal_concat["population"] = animals_vegetal_concat["population"] * 1000
animals_vegetal_concat.head()

,Code_Pays,Pays,Code_Produit,Produit,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Food,Pertes,Production,Semences,Traitement,Variation de stock,population
0,1,Arménie,2511,Blé,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977000
1,1,Arménie,2513,Orge,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,2977000
2,1,Arménie,2514,Maïs,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,2977000
3,1,Arménie,2515,Seigle,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,2977000
4,1,Arménie,2516,Avoine,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,2977000

In [461]:
animals_vegetal_concat["dispo_alimentaire_kcal"] = animals_vegetal_concat["Disponibilité alimentaire (Kcal/personne/jour)"] * animals_vegetal_concat["population"] * 365
animals_vegetal_concat["dispo_alimentaire_kgprotein"] = animals_vegetal_concat["Disponibilité de protéines en quantité (g/personne/jour)"] * 0.001 * animals_vegetal_concat["population"] * 365

In [462]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

countries = sorted(list(animals_vegetal_concat['Pays'].unique()))
products = sorted(list(animals_vegetal_concat['Produit'].unique()))
animals_vegetal_concat2 = animals_vegetal_concat[["Code_Pays", "Pays", "Code_Produit", "Produit","population", "dispo_alimentaire_kcal", "dispo_alimentaire_kgprotein"]]

@interact
def show_per_country(country=countries, product=products):
    return animals_vegetal_concat2.loc[(animals_vegetal_concat2['Pays'] == country) & (animals_vegetal_concat2['Produit'] == product)]

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Afrique du Sud', 'Albanie', 'Al…

# Question 4 : Ratios énergétiques

établir un ratio "énergie/poids" (en kcal/kg) pour chaque produit par pays
établir un ratio "poids de protéine / poids total" pour chaque produit par pays

Pour le ratio "poids des protéines / poids total"

In [463]:
animals_vegetal_concat["dispo_alimentaire_kg"] = animals_vegetal_concat["Food"] * 1000000
mask = animals_vegetal_concat["dispo_alimentaire_kg"] != 0
animals_vegetal_concat.loc[mask, 'ratio_kcal/kg'] = animals_vegetal_concat.loc[mask, "dispo_alimentaire_kcal"] / animals_vegetal_concat.loc[mask, "dispo_alimentaire_kg"]
animals_vegetal_concat.head(2)

,Code_Pays,Pays,Code_Produit,Produit,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,population,dispo_alimentaire_kcal,dispo_alimentaire_kgprotein,dispo_alimentaire_kg,ratio_kcal/kg
0,1,Arménie,2511,Blé,93.0,0.0,1024.0,130.6,3.6,30.52,...,32.0,312.0,30.0,10.0,-118.0,2977000,1.112684e+12,33163184.6,389000000.0,2860.368946
1,1,Arménie,2513,Orge,137.0,26.0,0.0,0.0,0.0,0.00,...,15.0,189.0,14.0,7.0,0.0,2977000,0.000000e+00,0.0,0.0,NaN

In [464]:
products_stats_per_country = animals_vegetal_concat.groupby("Produit").mean()
products_stats_per_country.head()

,Code_Pays,Code_Produit,Aliments pour animaux,Autres utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,...,Pertes,Production,Semences,Traitement,Variation de stock,population,dispo_alimentaire_kcal,dispo_alimentaire_kgprotein,dispo_alimentaire_kg,ratio_kcal/kg
Produit,,,,,,,,,,,,,,,,,,,,,
Abats Comestible,125.431034,2736.0,43.869565,16.307692,8.505747,2.730345,0.254767,1.328621,101.074713,36.488889,...,3.476190,107.462428,NaN,NaN,0.481481,4.021452e+07,9.907831e+10,1.609122e+07,9.005172e+07,1129.258163
"Agrumes, Autres",125.725000,2614.0,NaN,3.125000,0.831169,1.348839,0.008211,0.018559,76.100000,6.148148,...,14.727273,183.718750,NaN,6.0,0.851852,4.267466e+07,1.606344e+10,4.411723e+05,7.328387e+07,90.316654
"Alcool, non Comestible",125.693750,2659.0,NaN,137.778481,NaN,NaN,NaN,NaN,135.881250,79.200000,...,NaN,324.421875,NaN,NaN,20.652174,4.212981e+07,NaN,NaN,NaN,NaN
Aliments pour enfants,125.023392,2680.0,NaN,0.000000,4.049689,0.404596,0.031824,0.168696,0.491228,7.609023,...,0.500000,NaN,NaN,NaN,0.195122,4.071432e+07,1.736034e+10,7.338130e+05,4.726708e+06,3224.621937
Ananas,125.702381,2618.0,NaN,0.428571,3.922619,3.890536,0.015200,0.031544,138.583333,55.579710,...,30.500000,311.205128,NaN,0.8,5.132353,4.082818e+07,4.212772e+10,3.684822e+05,1.235536e+08,366.683059

# D'après Wikipedia, la valeur énergétique d'un oeuf est de 1470 kcal/kg.

In [465]:
products_stats_per_country = products_stats_per_country.reset_index()
products_stats_per_country[(products_stats_per_country['Produit'] == 'Oeufs')]['ratio_kcal/kg'].mean()

1345.3003859252403

# Question 5 : Aliments les plus caloriques et protéiques